{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>6)	«Бағандарды өзгерту» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Екі өлшемді массив және екі сан берілген: i және j. Жиымдағы i және j нөмірлі бағандарды ауыстырып, нәтижені басып шығарыңыз.
Бағдарлама кіріс ретінде n және m массив өлшемдерін, содан кейін массив элементтерін, содан кейін i және j сандарын қабылдайды.
Шешімді swap_columns(a, i, j) функциясы ретінде тұжырымдаңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}