{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>3)	«Шахмат тақтасы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Екі n және m саны берілген. Екі өлшемді n×m массивін жасаңыз және оны «.» толтырыңыз. және шахмат тақтасындағы "*". Жоғарғы сол жақ бұрышта нүкте болуы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}