{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>5)	«Бүйірлік диагональ» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>n саны берілген. n×n массивін жасаңыз және оны келесі ереже бойынша толтырыңыз:
Жоғарғы оң жақтан төменгі сол жақ бұрышқа өтетін диагональдағы сандар 1-ге тең.
Осы диагоналдың үстіндегі сандар 0-ге тең.
Бұл диагоналдың астындағы сандар 2-ге тең.
Алынған массивді экранда көрсетіңіз. Жолдағы сандарды бір бос орынмен бөліңіз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}