{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>2)	«Қар-оюы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>n тақ саны берілген. n×n элементтерінің екі өлшемді массивін құрып, оны «» белгісімен толтырыңыз. (массивтің әрбір элементі бір таңбадан тұратын жол). Содан кейін массивтің ортаңғы жолын, массивтің ортаңғы бағанын, негізгі диагоналын және қосымша диагоналын «*» таңбаларымен толтырыңыз. Нәтижесінде массивтегі бірліктер жұлдызша кескінін құруы керек. Жиым элементтерін бос орындармен бөліп, алынған массивді экранға шығару.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}