{% extends 'lecture/lecture.html' %}

{% block task_nav_9 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'array1' %}"><li>Максимум</li></a>
    <a href="{% url 'array2' %}"><li>Ақшақар</li></a>
    <a href="{% url 'array3' %}"><li>Шахмат тақтасы</li></a>
    <a href="{% url 'array4' %}"><li>Негізгісіне параллель диагоналдар</li></a>
    <a href="{% url 'array5' %}"><li>Бүйірлік диагональ</li></a>
    <a href="{% url 'array6' %}"><li>Бағандарды өзгерту</li></a>
{% endblock %}