{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>4)	«Негізгісіне параллель диагоналдар» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>n саны берілген. n×n массивін құрыңыз және оны келесі ереже бойынша толтырыңыз. Негізгі диагональға 0 сандары жазылуы керек, негізгі диагональға іргелес жатқан екі диагональға сандар 1. Келесі екі диагональға 2 сандары және т.б.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}