{% extends 'task/task9/task9.html' %}

{% block text_content1 %}
<h1>1)	«Максимум» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Максималды элементтің бірінші пайда болу индекстерін табыңыз. Екі санды басып шығарыңыз: екі өлшемді массивтегі ең үлкен элементті қамтитын жол нөмірі және баған нөмірі. Егер мұндай элементтер бірнешеу болса, онда жол нөмірі кішірек, ал жол нөмірлері тең болса, баған нөмірі кішірек элемент көрсетіледі.
Бағдарлама кіріс ретінде n және m массив өлшемдерін, содан кейін әрқайсысы m саннан тұратын n жолды алады.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}