{% extends 'task/task8/task8.html' %}

{% block text_content1 %}
<h1>2)	«Теріс дәреже» мәселесі</h1>
    <p>Шарт:</p>
    <p>Нақты оң а саны және n бүтін саны берілген.
an -ды есептеңіз. Шешімді power(a, n) функция түрінде тұжырымдаңыз.
Стандартты дәрежеге шығару функциясын пайдалану мүмкін емес.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}