{% extends 'task/task8/task8.html' %}

{% block text_content1 %}
<h1>3)	«Үлкен әріптер» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Кішкентай латын әріптерінен тұратын сөзді алып, бірінші әріпті бас әріпке өзгертіп, оны қайтаратын capitalize() функциясын жазыңыз.
Мысалы, print(capitalize('word')) Word сөзін басып шығару керек.
Енгізу - бір бос орынмен бөлінген сөздерден тұратын жол. Сөздер шағын латын әріптерінен құралған. Әрбір сөз бас әріптен басталатынына көз жеткізіп, түпнұсқа жолды теріңіз. Бұл әрекетті орындаған кезде capiselize() функциясын пайдаланыңыз.
Еске салайық, Python-да таңба берілген кезде ASCII кестесінде өз кодын қайтаратын ord() функциясы және символдар коды негізінде символдың өзін қайтаратын chr() функциясы бар. Мысалы, ord('a') == 97, chr(97) == 'a'.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}