{% extends 'task/task8/task8.html' %}

{% block text_content1 %}
<h1>4)	«Дәрежеге шығару» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Нақты оң а саны және теріс емес n бүтін саны берілген. Циклдерді, ** арқылы дәрежені және math.pow() функциясын пайдаланбай, қайталану қатынасын an=a⋅an-1 арқылы есептеңіз.
Шешімді функция дәрежесі (a, n) түрінде тұжырымдаңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}