{% extends 'task/task8/task8.html' %}

{% block text_content1 %}
<h1>1)	«Кесіндінің ұзындығы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Төрт нақты сан берілген: x1, y1, x2, y2. (x1,y1) және (x2,y2) нүктелерінің арасындағы қашықтықты есептейтін қашықтық(x1, y1, x2, y2) функциясын жазыңыз. Төрт нақты санды санап, осы функцияның нәтижесін басып шығарыңыз.
Егер сіз бұл мәселені қалай шешуге болатынын білмесеңіз, онда сіз Пифагор теоремасын мектепте оқымаған боларсыз. Бұл туралы Википедиядан оқып көріңіз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}