{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>5. «Бірінші және соңғы пайда болу» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Жол берілген. Егер f әрпі осы жолда бір рет болса, оның индексін басып шығарыңыз. Егер ол екі немесе одан да көп рет орын алса, оның бірінші және соңғы пайда болуының индексін басып шығарыңыз. Берілген жолда f әрпі болмаса, ештеңені басып шығармаңыз.</p>
    <p>Бұл мәселені шешу кезінде ілмектерді қолданбау керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}