{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>1. «Қиып алу» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Жол берілген.</p>
    <p>Алдымен осы жолдың үшінші таңбасын басып шығарыңыз.</p>
    <p>Екінші жолда осы жолдың соңғы белгісін басып шығарыңыз.</p>
    <p>Үшінші жолда осы жолдың алғашқы бес таңбасын басып шығарыңыз.</p>
    <p>Төртінші жолда соңғы екі таңбадан басқа бүкіл жолды басып шығарыңыз.</p>
    <p>Бесінші жолда жұп индекстері бар барлық таңбаларды басып шығарыңыз (индекстеу 0-ден басталады, сондықтан таңбалар біріншіден бастап басып шығарылады).</p>
    <p>Алтыншы жолда тақ индекстері бар барлық таңбаларды, яғни жолдың екінші символынан бастап басып шығарыңыз.</p>
    <p>Жетінші жолда барлық таңбаларды кері ретпен басып шығарыңыз.</p>
    <p>Сегізінші жолда жолдың барлық таңбаларын соңғысынан бастап кері ретпен бір-бірден басып шығарыңыз.</p>
    <p>Тоғызыншы жолда осы жолдың ұзындығын басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}