{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>4. «Екі сөзді қайта орналастыру» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бос орынмен бөлінген дәл екі сөзден тұратын жол берілген. Мына сөздерді қайта реттеңіз. Нәтижені жолға жазыңыз және алынған жолды басып шығарыңыз.</p>
    <p>Бұл мәселені шешу кезінде циклдар мен if операторларын қолданбау керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}