{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>3. «Екі жарты» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Жол берілген. Оны екі тең бөлікке кесіңіз (егер сызықтың ұзындығы жұп болса, ал сызықтың ұзындығы тақ болса, онда бірінші бөліктің ұзындығы бір таңбадан ұзағырақ болуы керек). Осы екі бөлікті қайта реттеңіз, нәтижені жаңа жолға жазыңыз және оны экранда көрсетіңіз.</p>
    <p>Бұл мәселені шешкен кезде if операторын қолданбау керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}