{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>2. «Сөздер саны» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бос орындармен бөлінген сөздерден тұратын жол берілген. Онда қанша сөз бар екенін анықтаңыз. Есепті шешу үшін санау әдісін қолданыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}