{% extends 'lecture/lecture.html' %}

{% block task_nav_5 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'str1' %}"><li>Қиып алу</li></a>
    <a href="{% url 'str2' %}"><li>Сөздер саны</li></a>
    <a href="{% url 'str3' %}"><li>Екі жарты</li></a>
    <a href="{% url 'str4' %}"><li>Екі сөзді қайта орналастыру</li></a>
    <a href="{% url 'str5' %}"><li>Бірінші және соңғы пайда болу</li></a>
    <a href="{% url 'str6' %}"><li>Екінші жазба</li></a>
    <a href="{% url 'str7' %}"><li>Фрагментті жою</li></a>
    <a href="{% url 'str8' %}"><li>Фрагменттерді ауыстыру</li></a>
    <a href="{% url 'str9' %}"><li>Ішкі жолды ауыстыру</li></a>
    <a href="{% url 'str10' %}"><li>Символды жою</li></a>
    <a href="{% url 'str11' %}"><li>Фрагмент ішіндегі ауыстыру</li></a>
    <a href="{% url 'str12' %}"><li>Әр үшінші таңбаны жою</li></a>
{% endblock %}