{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>9. «Ішкі жолды ауыстыру» </h1>

    <p>Жол берілген. Осы жолдағы барлық 1-ді one сөзімен ауыстырыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}
{% block video1 %}
<br>
<br>
<br>
    <video id="player" controls>
      <source src="{% static 'video/stresep/ministr-esep-9.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}