{% extends 'task/task5/task5.html' %}

{% block text_content1 %}
    <h1>11. «Фрагмент ішіндегі ауыстыру» </h1>

    <p>Жол берілген. Осы жолдағы h әрпінің бірінші және соңғы қайталануларынан басқа барлық кездесулерін Н әрпімен ауыстырыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}
{% block video1 %}
<br>
<br>
<br>
    <video id="player" controls>
      <source src="{% static 'video/stresep/ministr-esep-11.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}