{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>16.	«Ферзи» тапсырмасы</h1>
    <p>Шарт</p>
    <p>8х8 тақтаға бір-бірін ұрып алмас үшін 8 ханшайымды орналастыруға болатыны белгілі. Тақтада сендерге 8 патшайымның орналасуы берілген, олардың арасында бір-бірін ұрып-соққан жұп бар-жоғын анықта.</p>
    <p>Бағдарлама кіріс ретінде сегіз жұп сандарды алады, 1-ден 8-ге дейінгі әрбір сан 8 ханшайымның координатасы болып табылады. Егер ханшайымдар бір-бірін ұрмаса, ЖОҚ сөзін басып шығарыңыз, әйтпесе ИӘ деп басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}