{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>15.	«Боулинг алаңы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>1-ден N-ге дейінгі сандармен солдан оңға қарай нөмірленген N түйреуіш бір қатарға орналастырылды. Содан кейін осы қатардың бойымен K шар лақтырылды, i-ші доп li-ден ri-ге дейінгі сандары бар барлық түйреуіштерді құлатты. Қай түйреуіштердің тұрғанын анықтаңыз.</p>
    <p>Бағдарлама кіріс ретінде N түйреуіштер санын және K лақтыру санын алады. Одан кейін 1≤ li≤ ri≤ N болатын li, ri сандарының K жұптары келеді.</p>
    <p>Бағдарлама N таңбалар тізбегін шығаруы керек, егер j-ші істікше орнында қалса, j-ші таңба «I» немесе j-ші істікше құлаған болса, «.» болады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}