{% extends 'lecture/lecture.html' %}

{% block task_nav_7 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'list1' %}"><li>Жұп индекстер</li></a>
    <a href="{% url 'list2' %}"><li>Жұп элементтер</li></a>
    <a href="{% url 'list3' %}"><li>Алдыңғыдан көп</li></a>
    <a href="{% url 'list4' %}"><li>Бір белгідегі көршілер</li></a>
    <a href="{% url 'list5' %}"><li>Өзімнің көршілерімнен артық</li></a>
    <a href="{% url 'list6' %}"><li>Ең үлкен элемент</li></a>
    <a href="{% url 'list7' %}"><li>Қатар</li></a>
    <a href="{% url 'list8' %}"><li>Әртүрлі элементтердің саны</li></a>
    <a href="{% url 'list9' %}"><li>Көршіні қайта орналастыру</li></a>
    <a href="{% url 'list10' %}"><li>min мен max-ды қайта реттеу</li></a>
    <a href="{% url 'list11' %}"><li>Элемент жою</li></a>
    <a href="{% url 'list12' %}"><li>Элемент кірістіру</li></a>
    <a href="{% url 'list13' %}"><li>Сәйкес жұптар саны</li></a>
    <a href="{% url 'list14' %}"><li>Бірегей элементтер</li></a>
    <a href="{% url 'list15' %}"><li>Боулинг алаңы</li></a>
    <a href="{% url 'list16' %}"><li>Ферзи</li></a>
{% endblock %}