{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>8)	«Әртүрлі элементтердің саны» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тізім берілген, ондағы элементтердің кемімейтін ретімен реттелген. Оның құрамында қанша түрлі элементтер бар екенін анықтаңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}