{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>4. «Бір белгідегі көршілер» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Сандар тізімі берілген. Егер оның құрамында бір белгінің екі көршілес элементі болса, осы сандарды басып шығарыңыз. Бірдей таңбаның көршілес элементтері болмаса, ештеңе шығармаңыз. Егер көршілердің осындай бірнеше жұбы болса, бірінші жұпты басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}