{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>7. «Қатар» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Петя басқа мектепке көшті. Дене шынықтыру сабағында қатардағы орнын анықтау керек болды. Оған мұны істеуге көмектесіңіз.</p>
    <p>Бағдарлама кіріс ретінде қатардағы әрбір адамның биіктігін көрсететін натурал сандардың өспейтін тізбегін алады. Осыдан кейін X саны енгізіледі - Петяның биіктігі. Енгізілген деректердегі барлық сандар табиғи және 200-ден аспайды.</p>
    <p>Петя қатарға қосылуы керек нөмірді басып шығарыңыз. Егер қатарда Петя сияқты бойлы адамдар болса, онда ол олардың соңынан тұруы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}