{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>5. «Өзімнің көршілерімнен артық» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Сандар тізімі берілген. Осы тізімдегі элементтердің нешеу көршілерінің екеуінен үлкен екенін анықтаңыз және мұндай элементтердің санын басып шығарыңыз. Тізімнің ең сыртқы элементтері ешқашан ескерілмейді, өйткені оларда көршілері жеткіліксіз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}