{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>12. «Элемент кірістіру» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бүтін сандар тізімі берілген, k саны және С мәні. Тізімге k индексі бар позицияға C-ге тең элементті енгізу керек, индексі кем дегенде k болатын барлық элементтерді оңға жылжыту керек.</p>
    <p>Бұл тізімдегі элементтердің санын көбейтетіндіктен, тізімді оқығаннан кейін append әдісі арқылы оның соңына жаңа элемент қосу керек.</p>
    <p>Кірістіру оқу тізімінде, оны шығару кезінде орындамай және қосымша тізім жасамай-ақ орындалуы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}