{% extends 'task/task7/task7.html' %}

{% block text_content1 %}
    <h1>10.	«min мен max-ды қайта реттеу» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тізімде барлық элементтер әртүрлі. Осы тізімнің минималды және максималды элементтерін ауыстырыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}