{% extends 'task/task3/task3.html' %}
{% load static %}
{% block text_content1 %}
    <h1>2. «Велошабандоз» </h1>

    <p>Стадиондағы Велосипед жолының ұзындығы 400 метр құрайды. Велошабандоз жолдың нөлдік шақырымынан бастап, V м/с жылдамдығымен жүреді, t минуттан кейін қай нүктеде тоқтайды?</p>
    <p>Бағдарлама кіріс ретінде V және t мәнін алады, егер V>0 болса, содан кейін Велошабандоз айналма жолдың бойымен оң бағытта қозғалады, егер мәні v<0 болса, теріс бағытта жүреді.</p>
    <p>Бағдарлама 0-ден 400-ге дейінгі бүтін санды шығаруы керек - Велошабандоз тоқтайтын белгінің нөмірі.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}
{% block video1 %}
<br>
<br>
<br>
    <video id="player" controls>
      <source src="{% static 'video/esepteuler-esep/miniesepteuler-esep-2.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}