{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>2. «Мәскеу айналма жолы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Мәскеу айналма жолының ұзындығы 109 шақырымды құрайды. Байкер Вася Мәскеу айналма жолының нөлдік шақырымынан бастап, V жылдамдығымен жүреді, t сағаттан кейін қай нүктеде тоқтайды?</p>
    <p>Бағдарлама кіріс ретінде V және t мәнін алады, егер V>0 болса, содан кейін Вася Мәскеу айналма жолының бойымен оң бағытта қозғалады, егер мәні v<0 болса, теріс бағытта жүреді.</p>
    <p>Бағдарлама 0-ден 108-ге дейінгі бүтін санды шығаруы керек - Вася тоқтайтын белгінің нөмірі.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}