{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>7. «Сатып алу құны» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Асханадағы бәліш бір рубль мен б тиын тұрады. n пирогқа қанша рубль мен тиын төлеу керек екенін анықтаңыз. Бағдарлама кіріс ретінде үш нөмірді алады: a, b, n және екі нөмірді шығаруы керек: сатып алу құны рубльмен және копеекпен.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}