{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>9. «Ұлу» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Ұлу биіктігі h метр тік сырық бойымен жорғалайды, күндіз бір метрге көтеріледі, ал түнде б метрге түседі. Ұлу сырықтың басына қай күні жорғалайды?</p>
    <p>Бағдарлама кіріс ретінде h, a, b натурал сандарын алады.</p>
    <p>Бағдарлама бір натурал санды басып шығаруы керек. a>b болатынына кепілдік беріледі.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}
