{% extends 'lecture/lecture.html' %}

{% block task_nav_3 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'calculations1' %}"><li>Санның соңғы цифры</li></a>
    <a href="{% url 'calculations2' %}"><li>Мәскеу айналма жолы</li></a>
    <a href="{% url 'calculations3' %}"><li>Бөлшек бөлігі</li></a>
    <a href="{% url 'calculations4' %}"><li>Нүктеден кейінгі бірінші цифр</li></a>
    <a href="{% url 'calculations5' %}"><li>Сабақ соңы</li></a>
    <a href="{% url 'calculations6' %}"><li>Автошеру</li></a>
    <a href="{% url 'calculations7' %}"><li>Сатып алу құны</li></a>
    <a href="{% url 'calculations8' %}"><li>Уақыт айырмашылығы</li></a>
    <a href="{% url 'calculations9' %}"><li>Ұлу</li></a>
    <a href="{% url 'calculations10' %}"><li>Ондықтар саны</li></a>
    <a href="{% url 'calculations11' %}"><li>Цифрлар қосындысы</li></a>
    <a href="{% url 'calculations12' %}"><li>Гипотенуза</li></a>
    <a href="{% url 'calculations13' %}"><li>Сағат – 1</li></a>
    <a href="{% url 'calculations14' %}"><li>Сағат – 2</li></a>
    <a href="{% url 'calculations15' %}"><li>Сағат - 3ы</li></a>
    <a href="{% url 'calculations16' %}"><li>Пайыз</li></a>
{% endblock %}