{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>13. «Сағат – 1» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Күн басынан бері H сағат, M минут, S секунд өтті (0 ≤ H < 12, 0 ≤ M < 60, 0 ≤ S < 60). Берілген H, M, S сандарын пайдаланып, сағат тілінің күн басынан бері бұрылған бұрышын (градуспен) анықтаңыз және оны нақты сан ретінде шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}