{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>15.	«Сағат - 3» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тәулік басынан бастап сағат тілі α градус бұрышына бұрылды. Күннің басынан бері қанша толық сағат, минут және секунд өткенін анықтаңыз, яғни «Сағат - 1» есебіне кері есепті шығарыңыз. Жауапты үш айнымалымен жазыңыз және оларды экранда көрсетіңіз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}