{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>16.	«Пайыз» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Салым бойынша сыйақы мөлшерлемесі жылдық P пайызды құрайды, ол депозит сомасына қосылады. Депозит X рубль Y тиын құрайды. Бір жылдағы салым сомасын анықтаңыз.</p>
    <p>Бағдарлама кіріс ретінде P, X, Y бүтін сандарын алады және екі санды шығаруы керек: бір жылдағы депозит сомасы рубльмен және копейкпен. Копейкалардың бөлшек бөлігі тасталады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}
