{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>8. «Уақыт айырмашылығы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бір күнге жататын екі уақыт нүктесінің мәндері берілген: уақыттың әрбір нүктесі үшін сағаттар, минуттар және секундтар. Уақыттың екінші сәті біріншіден ерте келмегені белгілі. Уақыт бойынша екі нүктенің арасында қанша секунд өткенін анықтаңыз.</p>
    <p>Бағдарлама кіріс ретінде үш бүтін санды алады: уақыттың бірінші сәтін көрсететін сағаттар, минуттар, секундтар және уақыттың екінші сәтін көрсететін үш бүтін сан.</p>
    <p>Осы уақыттардың арасындағы секундтар санын басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}