{% extends 'task/task3/task3.html' %}

{% block text_content1 %}
    <h1>14.	«Сағат – 2» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тәулік басынан бастап сағат тілі α градус бұрышына бұрылды. Соңғы сағаттың басынан бастап минут тілі қандай бұрышқа бұрылғанын анықтаңыз. Енгізу және шығару деректері нақты сандар болып табылады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}
