{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>7. «Тұраның(Ладья) жүрісі тапсырмасы</h1>
    <p>Шарт</p>
    <p>Шахмат тұрасы(ладьясы) көлденең немесе тігінен қозғалады. Шахмат тақтасының екі түрлі шаршысы берілген, бір жүріспен дөңес бірінші шаршыдан екіншісіне жете алатынын анықтаңыз. Бағдарлама кіріс ретінде бірінші ұяшық үшін, содан кейін екінші ұяшық үшін баған нөмірі мен жол нөмірін көрсете отырып, әрқайсысы 1-ден 8-ге дейінгі төрт санды қабылдайды. Егер тұра(ладья) бірінші шаршыдан екіншісіне жылжи алса, бағдарлама YES немесе басқаша NO шығаруы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}