{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>8. «Патшаның қозғалысы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Шахмат патшасы көлденең, тік және диагональ бойынша қозғалады, бірақ тек 1 шаршы. Шахмат тақтасының екі түрлі шаршысы берілген, патша бір жүріспен бірінші шаршыдан екіншісіне жете алатынын анықтаңыз. Бағдарлама кіріс ретінде бірінші ұяшық үшін, содан кейін екінші ұяшық үшін баған нөмірі мен жол нөмірін көрсете отырып, әрқайсысы 1-ден 8-ге дейінгі төрт санды қабылдайды. Егер король бірінші ұяшықтан екіншісіне өтуі мүмкін болса, бағдарлама YES немесе басқаша NO шығаруы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
