{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>9. «Пілдің қозғалысы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Шахмат пілі диагональ бойынша қозғалады. Шахмат тақтасының екі түрлі квадратын ескере отырып, піл бір жүріспен бірінші шаршыдан екіншісіне жете алатынын анықтаңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
