{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>12.	«Шоколад» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Шоколад n×m тілімдерге бөлінген тіктөртбұрыштың пішініне ие. Шоколадты бір рет түзу сызықпен екі бөлікке бөлуге болады. Дәл k бөліктен тұратын шоколадты осылайша үзуге болатынын анықтаңыз. Бағдарлама үш санды енгізу ретінде қабылдайды: n, m, k және YES немесе NO шығаруы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}
