{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>2. «Сан белгісі» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Математикада функцияның sign(x) (санның таңбасы) келесідей анықталады:</p>
    <p>sign (x) = 1, егер x > 0 болса,</p>
    <p>sign (x) = -1, егер x < 0 болса,</p>
    <p>sign (x) = 0, егер x = 0 болса.</p>
    <p>Берілген x саны үшін sign(x) мән белгісін басып шығарыңыз. Бұл мәселені каскадты if... elif... else инструкциялары арқылы шешкен жөн.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}