{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>13. «Яша бассейнде жүзеді» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Яша N × M метрлік бассейнде жүзіп, шаршады. Осы сәтте ол ұзын жақтардың бірінен х метр (ең жақыннан міндетті емес) және қысқа жақтардың бірінен у метр қашықтықта екенін анықтады. Яша бассейннен бүйірге шығу үшін ең аз қанша қашықтықты жүзу керек? Бағдарлама кіріс ретінде N, M, x, y сандарын қабылдайды. Бағдарлама Яшаның жағына қарай жүзуі керек метрлердің санын көрсетуі керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}
