{% extends 'lecture/lecture.html' %}

{% block task_nav_2 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'if_else1' %}"><li>Екі санның ең азы</li></a>
    <a href="{% url 'if_else2' %}"><li>Сан белгісі</li></a>
    <a href="{% url 'if_else3' %}"><li>Шахмат тақтасы</li></a>
    <a href="{% url 'if_else4' %}"><li>Кібісе жылы</li></a>
    <a href="{% url 'if_else5' %}"><li>Ең аз үш сан</li></a>
    <a href="{% url 'if_else6' %}"><li>Қанша сан сәйкес келеді</li></a>
    <a href="{% url 'if_else7' %}"><li>Тұраның(Ладья) жүрісі</li></a>
    <a href="{% url 'if_else8' %}"><li>Патшаның қозғалысы</li></a>
    <a href="{% url 'if_else9' %}"><li>Пілдің қозғалысы</li></a>
    <a href="{% url 'if_else10' %}"><li>Ферзь</li></a>
    <a href="{% url 'if_else11' %}"><li>Жылқы жүрісі</li></a>
    <a href="{% url 'if_else12' %}"><li>Шоколад</li></a>
    <a href="{% url 'if_else13' %}"><li>Яша бассейнде жүзеді</li></a>
{% endblock %}