{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>4. «Кібісе жылы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Натурал сан берілген. Берілген саны бар жыл кібісе жыл екенін анықтау керек. Егер жыл кібісе жыл болса, YES деп басып шығарыңыз, әйтпесе NO басып шығарыңыз. Естеріңізге сала кетейік, Григориан күнтізбесі бойынша, егер оның саны 4-ке еселік болса, бірақ 100-ге еселік болмаса, сондай-ақ 400-ге еселік болса, жыл кібісе жыл болып табылады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
