{% extends 'task/task2/task2.html' %}

{% block text_content1 %}
    <h1>1. «Екі санның ең азы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Екі бүтін сан берілген. Олардың ең кішісінің мәнін басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}