{% extends 'main/index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "users/register.css" %}">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
{% endblock %}

{% block content %}
            <div class="form signup container">
                <div class="form-content">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="email" name="email" placeholder="Электрондық пошта" class="input" required>
                        </div>
                        
{#                        <div class="field input-field">#}
{#                            <input type="tel" id="phone" name="phone" placeholder="Телефон номер" class="input" pattern="[0-9]{11}" required>#}
{#                        </div>#}
                        
                        <div class="field input-field">
                            <input type="text" name="username" placeholder="Пайдаланушы аты" class="input" required>
                        </div>
                    
                        <div class="field input-field">
                            <input type="text" name="first_name" placeholder="Аты" class="input" required>
                        </div>
                    
                        <div class="field input-field">
                            <input type="text" name="last_name" placeholder="Тегі" class="input" required>
                        </div>
                        
                        <div class="field input-field">
                            <input type="tel" name="phone" placeholder="Телефон номер" class="phone" required>
                        </div>
                    
                        <div class="field input-field">
                            <input type="text" name="city" placeholder="Қала" class="input" required>
                        </div>
                    
                        <div class="field input-field">
                            <input type="date" name="birth_date" placeholder="Туылған күн" class="date" required>
                        </div>
                    
                        <div class="field input-field">
                            <select name="status" class="form-select" id="id_status">
                              <option value="Student" selected="">Студент</option>
                            
                              <option value="School">Мектеп оқушысы</option>
                            
                              <option value="Teacher">Мұғалім</option>

                              <option value="Other">Басқа</option>
                            
                            </select>
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password1" placeholder="Құпия сөз жасаңыз" class="password" required>
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password2" placeholder="Құпия сөзді Растау" class="password" required>
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        
                        {% if error %}
                        <div class="error">
                            {{ error }}
                        </div>
                        {% endif %}

                        <div class="field button-field">
                            <button type="submit">Тіркелу</button>
                        </div>
                    </form>

{#                    <div class="form-link">#}
{#                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>#}
{#                    </div>#}
                </div>

{#                <div class="line"></div>#}
{##}
{#                <div class="media-options">#}
{#                    <a href="#" class="field facebook">#}
{#                        <i class='bx bxl-facebook facebook-icon'></i>#}
{#                        <span>Login with Facebook</span>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="media-options">#}
{#                    <a href="#" class="field google">#}
{#                        <img src="#" alt="" class="google-img">#}
{#                        <span>Login with Google</span>#}
{#                    </a>#}
{#                </div>#}
            </div>
    <script src="{% static 'users/register.js' %}"></script>
{% endblock %}