{% extends 'task/task6/task6.html' %}

{% block text_content1 %}
    <h1>12. «Екінші максимум» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тізбек әртүрлі натурал сандардан тұрады және 0 санымен аяқталады. Осы қатардағы екінші ең үлкен элементтің мәнін анықтаңыз. Тізбекте кем дегенде екі элемент бар екеніне кепілдік беріледі.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}