{% extends 'lecture/lecture.html' %}

{% block task_nav_6 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'whileloop1' %}"><li>Квадраттар тізімі</li></a>
    <a href="{% url 'whileloop2' %}"><li>Ең кіші бөлгіш</li></a>
    <a href="{% url 'whileloop3' %}"><li>Екі күш</li></a>
    <a href="{% url 'whileloop4' %}"><li>Таңғы жүгіріс</li></a>
    <a href="{% url 'whileloop5' %}"><li>Тізбек ұзындығы</li></a>
    <a href="{% url 'whileloop6' %}"><li>Тізбектің суммасы</li></a>
    <a href="{% url 'whileloop7' %}"><li>Орташа реттілік</li></a>
    <a href="{% url 'whileloop8' %}"><li>Максималды реттілік</li></a>
    <a href="{% url 'whileloop9' %}"><li>Максималды реттілік индексі</li></a>
    <a href="{% url 'whileloop10' %}"><li>Тізбектің жұп элементтерінің саны</li></a>
    <a href="{% url 'whileloop11' %}"><li>Алдыңғыдан көп элементтер саны</li></a>
    <a href="{% url 'whileloop12' %}"><li>Екінші максимум</li></a>
    <a href="{% url 'whileloop13' %}"><li>Максимумға тең элементтер саны</li></a>
    <a href="{% url 'whileloop14' %}"><li>Фибоначчи сандары</li></a>
    <a href="{% url 'whileloop15' %}"><li>Фибоначчи саны</li></a>
    <a href="{% url 'whileloop16' %}"><li>Қатарлы тең элементтердің максималды саны</li></a>
    <a href="{% url 'whileloop17' %}"><li>Стандартты ауытқу</li></a>
{% endblock %}