{% extends 'task/task6/task6.html' %}

{% block text_content1 %}
    <h1>17. «Стандартты ауытқу» тапсымасы</h1>
    <p>Шарт</p>
    <p>x1 , x2 ,...., x3   натурал сандар тізбегі берілген.  Стандартты ауытқу шамасы болып табылады</p>
     
     
    <p>де  — қатардың арифметикалық ортасы.</p>
    <p>0-мен аяқталатын натурал сандардың берілген тізбегі үшін стандартты ауытқуды анықтаңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}