{% extends 'task/task6/task6.html' %}

{% block text_content1 %}
    <h1>5. «Тізбек ұзындығы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бағдарлама кіріс ретінде әрбір сан жеке жолда жазылған теріс емес бүтін сандар тізбегін қабылдайды. Тізбек 0 санымен аяқталады, оны оқығаннан кейін бағдарлама өз жұмысын аяқтап, реттілік мүшелерінің санын басып шығаруы керек (соңғы 0 санын есептемегенде). 0 санынан кейінгі сандарды оқудың қажеті жоқ.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}