{% extends 'task/task6/task6.html' %}

{% block text_content1 %}
    <h1>4. «Таңғы жүгіріс» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бірінші күні спортшы х километрге жүгірді, содан кейін күн сайын жүгірісін алдыңғы мәннен 10% арттырды. y санын ескере отырып, спортшының жүгірісі кемінде y километр болатын күннің санын анықтаңыз.</p>
    <p>Бағдарлама кіріс ретінде х және у нақты сандарын алады және бір натурал санды шығаруы керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}