{% extends 'task/task6/task6.html' %}

{% block text_content1 %}
    <h1>11.	«Алдыңғыдан көп элементтер саны» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Тізбек натурал сандардан тұрады және 0 санымен аяқталады. Осы қатардың қанша элементі алдыңғы элементтен үлкен екенін анықтаңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}