ifame {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto 0;
}

footer {
    background-color: #333333;
    height: 7em;
}

.section__left ol {
    list-style: decimal;
}

.section__left ol {
    background: rgba(234, 233, 233, 0.49);
    border-radius: 3px;
}

section {
    display: flex;
    justify-content: left;
}

.section__right {
    font-weight: 200;
    font-size: 1.1rem;
}

.section__left a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.10rem;

}

ol {
    padding: 0;
    border-radius: 3px;
}

.section__left {
    /*background: #c6c6c6;*/
    /*border: 1px black solid;*/
    /*position: fixed;*/
    width: 60%;
    margin-right: 30px;
}

.section__left li {
    list-style: none;
    /*border: 1px black solid;*/
    border-radius: 3px;
    padding: 15px;
    font-size: 1rem;
}

.section__left li:hover {
    background: #c6c6c6;
}

.con__right video {
    height: 480px;
    width: 290px;
}

@media (min-width: 879px) {
    .block__con {
        display: flex;
        justify-content: center;
    }
}

.con__high {
    height: 100%;
}

ol ol li {
    padding-left: 10px;
    background: rgba(176, 176, 176, 0.3);
    /*border: 0.2px solid black;*/
}