{% extends 'task/task1/task1.html' %}

{% block text_content1 %}
    <h1>5. «Hello Harry!» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Сәлем сөзін, енгізілген атын және тыныс белгілерін келесідей басып шығару арқылы пайдаланушымен сәлемдесетін бағдарламаны жазыңыз:</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
