{% extends 'task/task1/task1.html' %}

{% load static %}

{% block title %}
    Деректерді енгізу және шығару
{% endblock %}

{% block text_content1 %}

    <h1>1. «Үш санның қосындысы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Үш санды оқитын және олардың қосындысын басып шығаратын программа жазыңыз. Әрбір сан бөлек жолға жазылады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
    <div id="code">print("Hello world!")</div>
    <details>
        <summary>Компилятор</summary>
        <iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
    </details>
{% endblock %}