{% extends 'task/task1/task1.html' %}

{% block text_content1 %}
    <h1>8. «Аяқ-киім бауы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Аяқ киім фабрикасы етіктің элиталық үлгісін шығаруды қолға алмақшы. Бауға арналған тесіктер екі қатарда орналасады, қатарлар арасындағы қашықтық а-ға тең, b тесіктер қатарлары арасындағы қашықтық. Әр қатардағы тесіктердің саны N-ге тең. Баулар элиталық жолмен «жоғары, басқа қатарда көлденең, жоғары, көлденең және т.б.» болуы керек. (суретті қараңыз). Сонымен қатар, бауларды элиталық бантикпен байлау үшін баулардың бос ұшының ұзындығы L болуы керек.</p>
    <p>Бұл етіктердің баулары қанша болуы керек?</p>
    <p>Бағдарлама кіріс ретінде төрт натурал санын алады a, b, l және N</p>
    <p>- дәл осы тәртіпте - және бір нөмірді шығару керек - баулардың қажетті ұзындығы.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
