{% extends 'task/task1/task1.html' %}

{% block text_content1 %}
    <h1>4. «Электронды сағат» тапсырмасы</h1>
    <p>Шарт</p>
    <p>n саны берілген. күн басынан бері n минут өтті. Сандық сағат осы сәтте қанша сағат пен минутты көрсететінін анықтаңыз. Бағдарлама екі санды шығаруы керек: сағат саны (0-ден 23-ке дейін) және минуттар саны (0-ден 59-ға дейін). n бір күндегі минуттар санынан көп болуы мүмкін екенін ескеріңіз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}
