{% extends 'task/task1/task1.html' %}

{% block text_content1 %}
    <h1>7. «Үстелдер» тапсырмасы</h1>
    <p>Мектеп үш жаңа математика сыныбын қабылдау туралы шешім қабылдады. Олардың математика сабақтары бір уақытта өтетіндіктен, әр сыныпқа кабинет бөліп, оларға жаңа парталар сатып алу туралы шешім қабылданды. Әр партада екі оқушыдан артық отыруға болмайды. Әр үш сыныптағы оқушылар саны белгілі. Барлық студенттерге жеткілікті болу үшін сізге қанша парта сатып алу керек? Бағдарлама үш натурал санды енгізу ретінде қабылдайды: үш сыныптың әрқайсысындағы оқушылар саны.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}