{% extends 'lecture/lecture.html' %}

{% load static %}

{% block task_nav_1 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'print_input1' %}"><li>Үш санның қосындысы</li></a>
    <a href="{% url 'print_input2' %}"><li>Тікбұрышты үшбұрыштың ауданы</li></a>
    <a href="{% url 'print_input3' %}"><li>Алманы бөлу</li></a>
    <a href="{% url 'print_input4' %}"><li>Электронды сағат</li></a>
    <a href="{% url 'print_input5' %}"><li>Hello Harry!</li></a>
    <a href="{% url 'print_input6' %}"><li>Келесі және алдыңғы</li></a>
    <a href="{% url 'print_input7' %}"><li>Үстелдер</li></a>
    <a href="{% url 'print_input8' %}"><li>Аяқ-киім бауы</li></a>
{% endblock %}

{% block js %}
    <link href="{% static 'lecture/ace.css' %}" rel="stylesheet">
    <script src="{% static 'lecture/jquery.min.js' %}"></script>
    <script src="{% static 'lecture/ace.js' %}"></script>
    <script src="{% static 'lecture/lecture.js' %}"></script>
{% endblock %}