{% extends 'task/task1/task1.html' %}

{% load static %}

{% block title %}
    Деректерді енгізу және шығару
{% endblock %}

{% block text_content1 %}

    <h1>1. «Үш санның қосындысы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Үш санды оқитын және олардың қосындысын басып шығаратын программа жазыңыз. Әрбір сан бөлек жолға жазылады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
    <div id="code"># Бұл бағдарлама екі санды оқиды және олардың қосындысын басып шығарады:
a = int(input())
b = int(input())

print(a + b)

# Сіз оны үш санды қосатындай етіп өзгерте аласыз ба?
    </div>
    <a href="#"><button>Барлық сынақтардағы шешімді тексеру</button></a>
    <details>
        <p><summary>Компилятор</summary></p>
        <iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
    </details>
{% endblock %}