{% extends 'task/task1/task1.html' %}
{% load static %}
{% block text_content1 %}
    <h1>4. «Электронды сағат» </h1>

    <p>n саны берілген. Арман компьютер алдында тәулік басталғаннан бері отырып, арада n минут өтті. Сандық сағат осы сәтте қанша сағат пен минутты көрсететінін анықтаңыз. Бағдарлама екі санды шығаруы керек: сағат саны (0-ден 23-ке дейін) және минуттар саны (0-ден 59-ға дейін). n бір күндегі минуттар санынан көп болуы мүмкін екенін ескеріңіз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
{% block video1 %}
<br>
<br>
<br>
    <video id="player" controls>
      <source src="{% static 'video/esepter1/miniesepter1-4.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}