{% extends 'task/task1/task1.html' %}

{% block text_content1 %}
    <h1>6.	«Келесі және алдыңғы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Бүтін санды оқитын және көрсетілген мысалға ұқсас мәтінді шығаратын бағдарламаны жазыңыз (бос орындар маңызды!).</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}