{% extends 'lecture/lecture.html' %}

{% load static %}

{% block title %}
    Шарттар(Шартты операторлар)
{% endblock %}

{% block header %}
    <h1>Шарттар(Шартты операторлар)</h1>
{% endblock %}

{% block text_content1 %}
    <h1>1. Шартты инструкциялар синтаксисі</h1>
    <p>Бұрын қарастырылған бағдарламалардың барлығы сызықтық құрылымға ие болды: барлық командалар бірінен соң бірі ретімен орындалды, әрбір жазбаша нұсқау орындалуы керек.</p>
    <p>Мысалы біз берілген х санынан оның абсолюттік мәнін (модульін) анықтағымыз келеді делік. Бағдарлама x>0 болса, x айнымалысының мәнін немесе басқа жағдайда -x мәнін басып шығаруы керек. Мынадай жағдайда, программаның сызықтық құрылымы бұзылған болып табылады: х>0 шартының орындалуына  байланысты осы немесе басқа мән шығарылуы керек. Python бағдарламасының сәйкес фрагменті төменде көрсетілгендей жазылады:</p>
{% endblock %}
{% block text_content2 %}
    <p>Бұл бағдарлама шартты if операторын пайдаланады. If сөзінен кейін қос нүктемен аяқталатын тексерілетін шарт (x > 0) көрсетіледі. Осыдан кейін шарт ақиқат болса орындалатын нұсқаулар блогы (тізбегі) келеді, біздің мысалда бұл x мәнін көрсетеді. Содан кейін else сөзі (әйтпесе), қос нүктемен аяқталады және тексерілетін шарт жалған болса орындалатын нұсқаулар блогы келеді, бұл жағдайда -x мәні басып шығарылады.</p>
    <p>Сонымен, Python тіліндегі шартты инструкция келесі синтаксиске ие:</p>
    <p>
        <pre style="color: red">
        егер Шарт:
            Инструкциялық блок 1
        басқа:
            Инструкциялық блок 2
        </pre>
    </p>
    <p>Шарт ақиқат болса, Инструкциялық блок 1 орындалады. Шарт қате болса, Инструкциялық блок 2 орындалады.</p>
    <p>Шартты инструкцияда else сөзі және одан кейінгі блок болмауы мүмкін. Бұл нұсқау толық емес тармақталу деп аталады. Мысалы, егер x саны берілсе және біз оны х-тің абсолютті мәнімен ауыстырғымыз келсе, онда мұны келесідей орындауға болады:</p>
{% endblock %}

{% block text_content3 %}
    <p>Бұл мысалда x айнымалысына -x мәні меншіктеледі(тағайындалады), бірақ тек x<0 болса ғана. Бірақ print(x) инструкциясы тексерілетін жағдайға қарамастан әрқашан орындалады.</p>
    <p>Python if немесе else операторына қатысты инструкциялар блогын бөлектеу үшін шегіністерді(табуляция) пайдаланады. Бір блокқа жататын барлық инструкциялардың шегініс көлемі бірдей болуы керек, яғни жолдың басындағы бос орындар саны бірдей. 4 бос орын шегінісін(табуляция) пайдалану ұсынылады немесе шегініс ретінде табуляция таңбасын пайдалануға болады.</p>
    <p>Бұл Python синтаксисі мен көптеген тілдердің синтаксисі арасындағы маңызды айырмашылықтардың бірі, онда блоктар арнайы сөздермен бөлінеді, мысалы, Кумир тіліндегі нц... кц, begin... end Паскаль тілінде немесе C тіліндегі фигуралы жақшалар. </p>
{% endblock %}

{% block text_content4 %}
    <h1>2. Кірістірілген шартты операторлар</h1>
    <p>Шартты инструкциялардың ішінде кез келген Python тіліндегі инструкцияды, соның ішінде шартты инструкцияды пайдалануға болады. Біз кірістірілген тармақты аламыз - бір айыру жолынан кейін бағдарламаны орындау кезінде басқа айыру жолы пайда болады. Бұл
    жағдайда кірістірілген блоктар үлкенірек шегініс өлшеміне ие (мысалы, 8 бос орын). Мұны нөлдік емес х және у сандары берілген, (х,у) нүктесі координаталық жазықтықтың қай ширегінде орналасқанын анықтайтын программаның мысалы арқылы көрсетейік:</p>
{% endblock %}

{% block text_content5 %}
    <p>Бұл мысалда біз түсініктемелерді(комментариилерді) қолдандық - интерпретатор елемейтін мәтін. Python тіліндегі түсініктемелер(комментариилер) - # таңбасы және жолдың соңына дейін осы таңбадан кейінгі барлық мәтін.</p>
{% endblock %}

{% block text_content6 %}
    <h1>3. Салыстыру операторлары</h1>
    <p>Әдетте, келесі салыстыру операторларының бірінің нәтижесі тексерілетін шарт ретінде пайдаланылады:</p>
    <p><</p>
    <p>Кіші – бірінші операнд екіншіден аз болса, шарт дұрыс болады.</p>
    <p> > </p>
    <p>Үлкен – шарт бірінші операнд екіншісінен үлкен болса, дұрыс болады.</p>
    <p><=</p>
    <p>Аз немесе тең.</p>
    <p> >= </p>
    <p>Үлкен немесе тең. </p>
    <p>==</p>
    <p>Теңдік. Шарт дұрыс, егер екі операнд тең болса.</p>
    <p>!=</p>
    <p>Тең емес. Шарт дұрыс, егер екі операнд тең емес болса.</p>
    <br><br>
    <p>Мысалы, (x * x < 1000) шарты «x * x мәні 1000-нан аз» дегенді білдіреді, </p>
    <p>ал (2 * x != y) шарты «x-тің екі есе мәні y мәніне тең емес» дегенді білдіреді.</p>
    <p>Python тіліндегі салыстыру операторларын тізбектерге біріктіруге болады (басқа бағдарламалау тілдерінің көпшілігінен айырмашылығы, бұл үшін логикалық қосылғыштарды пайдалану қажет), мысалы, a == b == c немесе 1 <= x <= 10.</p>
{% endblock %}

{% block text_content7 %}
    <h1>4. bool деректер типі</h1>
    <p>Салыстыру операторлары арнайы логикалық bool типтегі мәндерін қайтарады. Логикалық мәндер екі мәннің бірін қабылдай алады: True немесе False. Логикалық ақиқат мәнін int мәніне түрлендіру 1-ге, ал False мәніне түрлендіру 0-ге әкеледі. Кері түрлендіру 0 санын False мәніне және кез келген нөлдік емес санды True мәніне түрлендіреді. str параметрін bool түріне түрлендіру кезінде бос жол False мәніне және кез келген бос емес жол True мәніне түрлендіріледі.</p>
{% endblock %}

{% block text_content8 %}
    <h1>4.1. Логикалық операторлар</h1>
    <p>Кейде бір емес, бірнеше шартты бір уақытта тексеру керек. Мысалы, берілген санның жұп (n % 2 == 0) шартын қолданатынын тексеруге болады (2-ге бөлінген n қалдығы 0) және берілген екі n және m бүтін сандарының жұп екенін тексеру қажет болса. , екі шарттың дұрыстығын тексеру керек: n % 2 == 0 және m % 2 == 0, олар үшін және операторы арқылы біріктіру керек (логикалық ЖӘНЕ): n % 2 == 0 және m % 2 == 0.</p>
    <p>Python тілінде стандартты логикалық операторлар бар: логикалық ЖӘНЕ, логикалық НЕМЕСЕ, логикалық терістеу.</p>
    <p>Логикалық ЖӘНЕ – екілік оператор (яғни екі операндты оператор: сол және оң жақ) және және пішіні бар. and операторы True мәнін қайтарады, егер оның операндтарының екеуі де True болса ғана.</p>
    <p>Логикалық НЕМЕСЕ екілік оператор болып табылады және кем дегенде бір операнд True болғанда ғана True мәнін қайтарады. «Логикалық НЕМЕСЕ» операторында немесе пішіні бар.</p>
    <p>Логикалық ЕМЕС (терістеу) біртұтас (яғни бір операндты) оператор болып табылады және бір операндтан кейін жоқ пішінге ие. Логикалық ЕМЕС, егер операнд False болса және керісінше болса, True мәнін қайтарады.</p>
    <p>Мысал. a немесе b сандарының кем дегенде біреуі 0-мен аяқталатынын тексерейік:</p>
{% endblock %}

{% block text_content9 %}
    <p>а саны оң, b теріс емес екенін тексерейік:</p>
    <pre style="color: red">
        if a > 0 and not (b < 0):
    </pre>
    <p>Немесе not (b < 0) орнына (b >= 0) жазуға болады.</p>
{% endblock %}

{% block text_content10 %}
    <h1>5. Каскадты шартты инструкциялар</h1>
    <p>Координаталық жазықтықтың төрттен бір бөлігін анықтайтын мысал бағдарламаны if... elif... else операциясы бар «каскад» тізбегі арқылы қайта жазуға болады:</p>
{% endblock %}

{% block text_content11 %}
    <p>Бұл конструкцияда if, ..., elif шарттары бір-бірден тексеріліп, бірінші ақиқат шартқа сәйкес блок орындалады. Тексерілетін барлық шарттар жалған болса, else блогы орындалады.</p>
{% endblock %}

{% block trinket_url1 %}
    <iframe src="https://trinket.io/embed/python/6ce758548f" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe src="https://trinket.io/embed/python/273ea05234" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url4 %}
	<iframe src="https://trinket.io/embed/python/4883da5dab" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url8 %}
    <iframe src="https://trinket.io/embed/python/20e44d627b" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url10 %}
    <iframe src="https://trinket.io/embed/python/f419b1134c" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}