{% extends "main/index.html" %}
{% load static %}

{% block title %}
    {{ lecture.lecture }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "lecture/lecture.css" %}">
{% endblock %}

{% block profile %}
    {% if user.is_authenticated %}
{#        <h5>{{ user.username }}</h5>#}
        <form method="post">
{#            <button type="button" class="btn btn-outline-primary"><a href="{% url 'logout' %}">logout</a></button>#}
        </form>
    {% else %}
{#        <a href="#" id="myBtn"><li>Кіру/Тіркелу</li></a>#}
    {% endif %}
{% endblock %}

{% block content %}
<section class="container">
    <div class="section__left">
        <ol>
            <a href="{% url 'print_input' %}"><li>1. ЕНГІЗУ - ШЫҒАРУ</li></a>
            <ol>
                {% block lecture_nav_1 %}{% endblock %}
            </ol>
            <a href="{% url 'if_else' %}"><li>2. Шартты операторлар</li></a>
            <ol>
                {% block lecture_nav_2 %}{% endblock %}
            </ol>
            <a href="{% url 'calculations' %}"><li>3. Есептеулер</li></a>
            <ol>
                {% block lecture_nav_3 %}{% endblock %}
            </ol>
            <a href="#"><li>Цикл for</li></a>
            <ol>
                {% block lecture_nav_4 %}{% endblock %}
            </ol>
            <a href="#"><li>Цикл while</li></a>
            <ol>
                {% block lecture_nav_5 %}{% endblock %}
            </ol>
            <a href="#"><li>Функциялар</li></a>
            <ol>
                {% block lecture_nav_6 %}{% endblock %}
            </ol>
        </ol>
    </div>
    <div class="section__right">
        {% block header %}{% endblock %}
        {% block main_content %}
        {% endblock %}
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content1 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video1 %}{% endblock %}
                </div>
            </div>
            {% block trinket_url1 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content2 %}{% endblock %}
                    {% block trinket_url2 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video2 %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content3 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video3 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url3 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content4 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video4 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url4 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content5 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video5 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url5 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content6 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video6 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url6 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content7 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video7 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url7 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content8 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video8 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url8 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content9 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video9 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url9 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content10 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video10 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url10 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content11 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video11 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url11 %}{% endblock %}
        </div>
    </div>
</section>
<script src="{% static 'lecture/lecture.js' %}"></script>
<style>
    .plyr__volume {
        display: none;
    }
    @media (min-width: 879px) {
        .plyr__control[data-plyr='fullscreen'] {
            display: none;
        }
    }
</style>
{% endblock %}