{% extends 'lecture/lecture.html' %}

{% block title %}
    10-сабақ. Жиындар
{% endblock %}

{% block header %}
    <h1>Жиындар</h1>
{% endblock %}

{% block text_content1 %}
    <p>Python тіліндегі жиын – математикадағы жиындарға баламалы деректер құрылымы. Жиын әртүрлі элементтерден тұруы мүмкін жиындағы элементтердің реті белгісіз; Жиынға элементтерді қосуға және жоюға болады, жиынның элементтері арқылы қайталауға болады, жиындармен операцияларды орындауға болады (біріктіру, қиылысу, айырмашылық). Элементтің жиынға жататынын тексеруге болады.</p>
    <p>Элементтер дәйекті тізім түрінде сақталатын массивтерден айырмашылығы, жиындарда элементтерді сақтау реті анықталмаған (сонымен қатар жиынның элементтері тізімдегідей қатарда сақталмайды, бірақ ақылды алгоритмдер қолданылады). Бұл жиынның барлық элементтерін жай ғана айналдырудан гөрі, «элементтің жиынға жататынын тексеру» сияқты операцияларды жылдам орындауға мүмкіндік береді.</p>
    <p>Жиынның элементтері кез келген өзгермейтін деректер түрі болуы мүмкін: сандар, жолдар, кортеждер. Өзгермелі деректер түрлері жиынның элементтері бола алмайды, атап айтқанда тізім (бірақ кортежді жасай аласыз) немесе жиын. Жиын элементтерінің өзгермейтіндігіне қойылатын талап жиынды компьютер жадында бейнелеу ерекшеліктерімен қойылады.</p>
    <h1>Жиындарды анықтау</h1>
    <p>Жиын оның барлық элементтерін бұйра жақшаға енгізу арқылы анықталады. Ерекшелік бос жиын болып табылады, оны set() функциясы арқылы жасауға болады. Егер set() - жиын функциясына: тізім, жол немесе кортеж параметр ретінде берілсе, ол тізімнің, жолдың немесе кортеждің элементтерінен тұратын жиынды қайтарады. Мысалы:</p>
{% endblock %}

{% block text_content2 %}
    <p>Әрбір элемент жиында тек бір рет көрінуі мүмкін, элементтердің реті маңызды емес; Мысалы, бағдарлама:</p>
{% endblock %}

{% block text_content3 %}
    <p>True шығарады, өйткені A және B тең жиындар.</p>
    <p>Әрбір элемент жиынтықта тек бір рет пайда болуы мүмкін. set('Hello') төрт элементтен тұратын жиынды қайтарады: {'H', 'e', 'l', 'o'}.</p>
    <h1>Жиын элементтерімен жұмыс</h1>
    <p>Жиынның элементтерінің санын len функциясы арқылы білуге болады.</p>
    <p>For циклін пайдаланып, жиынның барлық элементтерін (белгісіз ретпен!) қайталауға болады:</p>
{% endblock %}

{% block text_content4 %}
    <p>bool түрінің мәнін қайтаратын in әрекетін пайдаланып элементтің жиынға жататынын тексеруге болады. Балама ретінде қарама-қарсы not in операциясы да бар. Жиынға элемент қосу үшін add методын қолданамыз:</p>
{% endblock %}

{% block text_content5 %}
    <p>Жиыннан x элементін жоюдың екі әдісі бар: discard және remove. Олардың әрекеті жойылатын элемент жинақта болмаған кезде ғана ерекшеленеді. Бұл жағдайда discard методы ештеңе жасамайды және remove әдісі KeyError ерекшелігін шығарады.</p>
    <p>Соңында, pop әдісі жиыннан бір кездейсоқ элементті алып тастап, оның мәнін қайтарады. Жиын бос болса, KeyError ерекше жағдайы шығарылады.</p>
    <p>List функциясын пайдаланып жиыннан тізім жасауға болады.</p>
    <h1>Жинақты операциялар</h1>
    <p>Python-дағы жиындар арқылы жиындарда әдеттегі математикалық операцияларды орындауға болады.</p>
    <table>
        <tr>
            <td>A | B <br>A.union(B)</td>
            <td>А және В жиындарының бірігуі болып табылатын жиынды қайтарады.</td>
        </tr>
        <tr>
            <td>A |= B <br> A.update(B)</td>
            <td>B жиынынан А жиынына барлық элементтерді қосады.</td>
        </tr>
        <tr>
            <td>A & B <br>A.intersection(B)</td>
            <td>A және B жиындарының қиылысы болып табылатын жиынды қайтарады.</td>
        </tr>
        <tr>
            <td>A &= B <br> A.intersection_update(B)</td>
            <td>А жиынында В жиынындағы элементтерді ғана қалдырады.</td>
        </tr>
        <tr>
            <td>A - B <br> A.difference(B)</td>
            <td>A және B жиындары арасындағы айырмашылықты қайтарады (А-ға енгізілген элементтер, бірақ В-ға кірмейді).</td>
        </tr>
        <tr>
            <td>A -= B <br> A.difference_update(B)</td>
            <td>В жиынына кіретін барлық элементтерді А жиынынан жояды.</td>
        </tr>
        <tr>
            <td>A ^ B <br> A.symmetric_difference(B)</td>
            <td>A және B жиындарының симметриялық айырмашылығын береді (А немесе В элементтерінде, бірақ екеуі де емес).</td>
        </tr>
        <tr>
            <td>A ^= B <br> A.symmetric_difference_update(B)</td>
            <td>А және В жиындарының симметриялық айырмасын А-да жазады.</td>
        </tr>
        <tr>
            <td>A <= B <br> A.issubset(B)</td>
            <td>Егер A B жиыны болса, шын мәнін қайтарады.</td>
        </tr>
        <tr>
            <td>A >= B <br> A.issuperset(B)</td>
            <td>Егер B A жиыны болса, шын мәнін қайтарады.</td>
        </tr>
        <tr>
            <td>A < B</td>
            <td>A <= B және A != B тең</td>
        </tr>
        <tr>
            <td>A > B</td>
            <td>A >= B және A != B тең</td>
        </tr>
    </table>
{% endblock %}
