{% extends 'lecture/lecture.html' %}

{% block title %}
    Тізімдер немесе Массивтер
{% endblock %}

{% block header %}
    <h1>Тізімдер немесе Массивтер</h1>
{% endblock %}

{% block lecture_nav_7 %}
    <a href="#h1"><li>1. Тізімдер</li></a>
    <a href="#h2"><li>2. split(бөлу) және join(біріктіру) әдістері</li></a>
    <a href="#h3"><li>3. Тізім генераторлары</li></a>
    <a href="#h4"><li>4. Кесінділер</li></a>
    <a href="#h5"><li>Тізімдермен операциялар</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Тізімдер</h1>
    <p>Көптеген бағдарламалар жеке айнымалылармен емес, айнымалылар жиынымен жұмыс істейді. Мысалы, бағдарлама оқушылар тізімін пернетақтадан немесе файлдан оқу арқылы сыныптағы оқушылар туралы ақпаратты өңдей алады, бірақ сыныптағы оқушылар санын өзгерту бағдарламаның бастапқы кодын өзгертуді қажет етпеуі керек.</p>
    <p>Бұрын бізде тізбектің элементтерін өңдеу міндеті тұрды, мысалы, тізбектің ең үлкен элементін есептеу. Бірақ сонымен бірге біз компьютер жадына барлық сандарды сақтамадық. Дегенмен, көптеген тапсырмаларда бүкіл дәйектілікті сақтау қажет, мысалы, егер дәйектіліктің барлық элементтерін өсу ретімен көрсету керек болса («тізбекті сұрыптау»).</p>
    <p>Мұндай деректерді сақтау үшін Python тілінде тізім деп аталатын типті, деректер құрылымын пайдалануға болады (бағдарламалау тілдерінің көпшілігінде басқа термин, «массив» қолданылады). Тізім – жолдағы таңбалар сияқты 0-ден бастап нөмірленген элементтер тізбегі. Тізімді тізімнің элементтерін төртбұрышты жақшаға қою арқылы көрсетуге болады, мысалы:</p>
{% endblock %}

{% block text_content2 %}
    <p><code>Primes</code> тізімінде 6 элемент бар, атап айтқанда: <code>Primes[0] == 2</code>, <code>Primes[1] == 3</code>, <code>Primes[2] == 5</code>, <code>Primes[3] == 7</code>, <code>Primes[4] == 11</code>, <code>Primes [5] == 13</code>. <code>Rainbow</code> тізімі әрқайсысы жол болып табылатын 7 элементтен тұрады.</p>
    <p>Жолдағы таңбалар сияқты, тізім элементтерін соңынан теріс сандармен индекстеуге болады, мысалы, <code>Primes[-1] == 13</code>, <code>Primes[-6] == 2</code>.</p>
    <p>Тізімнің ұзындығын, яғни ондағы элементтердің санын <code>len</code> функциясының көмегімен табуға болады, мысалы, <code>len(Primes) == 6</code>.</p>
    <p>Жолдардан айырмашылығы, тізім элементтері оларға жаңа мәндер тағайындау арқылы өзгертілуі мүмкін.</p>
{% endblock %}

{% block text_content3 %}
    <p>Тізімдерді құрудың және оқудың бірнеше жолдарын қарастырайық. Ең алдымен бос тізім жасауға болады (құрамында элементтер жоқ, ұзындығы 0) және <code>append</code> әдісі арқылы тізімнің соңына элементтер қосуға болады. Мысалы, бағдарлама кіріс ретінде тізімдегі элементтердің <code>n</code> санын, содан кейін тізімнің <code>n</code> элементтерін жеке жолда бір-бірден қабылдасын. Міне, осы пішімдегі енгізу деректерінің мысалы: </p>
    <code>5 <br>
        1809 <br>
        1854 <br>
        1860 <br>
        1891 <br>
        1925
    </code>
    <p>Бұл жағдайда тізімді оқуды келесідей ұйымдастыруға болады:</p>
{% endblock %}

{% block text_content4 %}
    <p>Бұл мысал бос тізім жасайды, тізімдегі элементтердің санын оқиды, содан кейін тізімнің элементтерін бір-бірден оқиды және оларды тізімнің соңына қосады. <code>n</code> айнымалысын сақтай отырып, бірдей нәрсені жазуға болады:</p>
{% endblock %}

{% block text_content5 %}
    <p>Тізімдер үшін келесі әрекеттер толығымен анықталған: тізімді біріктіру (тізімдерді қосу, яғни бір тізімге басқасын қосу) және тізімді қайталау (тізімді санға көбейту). Мысалы:</p>
{% endblock %}

{% block text_content6 %}
    <p>Нәтижесінде <code>c</code> тізімі <code>[1, 2, 3, 4, 5]</code>, ал <code>d</code> тізімі <code>[4, 5, 4, 5, 4, 5]</code> тең болады. Бұл тізімдерді оқу процесін басқаша ұйымдастыруға </p>
    <p>мүмкіндік береді: біріншіден, тізімнің өлшемін санап, элементтердің қажетті санынан тізім жасаңыз, содан кейін <code>i</code> айнымалысы бойынша циклды 0 санынан бастап және цикл ішінде ұйымдастырыңыз. Тізімнің <code>i</code>-ші элементін жаңадан меншіктейміз:</p>
{% endblock %}

{% block text_content7 %}
    <p><code>a</code> тізімінің элементтерін тізім элементтерінің айналасында төртбұрышты жақшаларды және тізім элементтері арасындағы үтірлерді басып шығаратын жалғыз <code>print(a)</code> операторымен басып шығаруға болады. Бұл шығу ыңғайсыз, жиі тізімнің барлық элементтерін бір жолға немесе бір жолға бір элементті көрсету керек. Міне, циклді ұйымдастыруда да ерекшеленетін екі мысал:</p>
{% endblock %}

{% block text_content8 %}
    <p>Мұнда <code>i</code> элементінің индексі циклде өзгертіледі, содан кейін <code>i</code> индексі бар тізім элементі көрсетіледі.</p>
{% endblock %}

{% block text_content9 %}
    <p>Бұл мысалда тізім элементтері бос орынмен бөлінген бір жолда көрсетіледі, ал циклде тізім элементінің индексі емес, айнымалының өзі өзгереді (мысалы, <code>for elem in ['red', 'green', 'blue']</code> <code>elem</code> айнымалы ретімен <code>'red'</code>, <code>'green'</code>, <code>'blue'</code> мәндерін қабылдайды.</p>
    <p>Соңғы мысалға ерекше назар аударыңыз! Python идеологиясының өте маңызды бөлігі - тізбектің барлық элементтерін қайталаудың ыңғайлы әдісін қамтамасыз ететін <code>for</code> циклі. Бұл Python мен Паскаль арасындағы айырмашылық, Python-да элементтердің өзін теруге мүмкіндік бар.</p>
    <p>Жолдан барлық сандарды таңдап, оларды массивке сандар ретінде қосу қажет жағдайда <code>for</code> циклін қолдануды көрсететін мысал келтірейік.</p>
{% endblock %}

{% block text_content10 %}
    <h1 id="h2">2. split(бөлу) және join(біріктіру) әдістері</h1>
    <p>Тізім элементтерін бір жолға енгізуге болады, бұл жағдайда бүкіл жолды <code>input()</code>>функциясы ретінде қарастыруға болады. Содан кейін жолдың <code>split()</code> әдісін қолдануға болады, ол бастапқы жол бос орынға бөліктерге бөлінген жағдайда алынатын жолдар тізімін қайтарады. Мысалы:</p>
{% endblock %}

{% block text_content11 %}
    <p>Бұл бағдарламаны іске қосу кезінде <code>1 2 3</code> жолын енгізсеңіз, онда <code>а</code> тізімі <code>['1', '2', '3']</code> тең болады. Тізім сандардан емес, жолдардан тұратынын ескеріңіз. Егер сандар тізімін алғыңыз келсе, тізімнің элементтерін бір-бірден сандарға түрлендіруге болады:</p>
{% endblock %}

{% block text_content12 %}
    <p>Арнайы Python магиясын - генераторларды пайдалану - дәл сол нәрсені бір жолда жасауға болады:</p>
{% endblock %}

{% block text_content13 %}
    <p>Бұл кодтың қалай жұмыс істейтіні келесі бөлімде түсіндіріледі. Егер нақты сандар тізімін оқу қажет болса, онда int түрін <code>float</code> түрімен ауыстыру керек.</p>
    <p><code>split()</code> әдісінде тізім элементтері арасында бөлгіш ретінде қолданылатын жолды көрсететін қосымша параметр бар. Мысалы, <code>split('.')</code> функциясын шақыру бастапқы жолды <code>'.'</code> таңбаларына бөлу арқылы алынған тізімді қайтарады:</p>
{% endblock %}

{% block text_content14 %}
    <p>Python тілінде бір жолды пәрмен арқылы жолдарды тізімдей аласыз. Ол үшін жолды <code>join</code> әдісі пайдаланылады. Бұл әдістің бір параметрі бар: жолдар тізімі. Нәтижесінде, берілген тізімнің элементтерін бір жолға біріктіру арқылы алынған жол қайтарылады, ал тізім элементтері арасына әдіс қолданылатын жолға тең бөлгіш енгізіледі. Алдыңғы сөйлемді бірінші рет түсінбегеніңізді білеміз. Сондықтан мысалдарды қараңыз:</p>
{% endblock %}

{% block text_content15 %}
    <p>Егер тізім сандардан тұрса, онда генераторлардың қара сиқырын қолдануға тура келеді. Сандар тізімінің элементтерін бос орындармен бөліп көрсетуге болады, мысалы:</p>
{% endblock %}

{% block text_content16 %}
    <p>Дегенмен, егер сіз қараңғы сиқырдың жанкүйері болмасаңыз, онда сіз <code>for</code> циклінің көмегімен бірдей әсерге қол жеткізе аласыз.</p>
{% endblock %}

{% block text_content17 %}
    <h1 id="h3">3. Тізім генераторлары</h1>
    <p>Бірдей элементтермен толтырылған тізім жасау үшін тізімді қайталау операторын пайдалануға болады, мысалы:</p>
{% endblock %}

{% block text_content18 %}
    <p>Күрделі формулалармен толтырылған тізімдерді жасау үшін сіз генераторларды пайдалана аласыз: тізімді белгілі бір формуламен толтыруға мүмкіндік беретін өрнектер. Генератордың жалпы көрінісі келесідей:</p>
    <p><code>[өрнек for айнымалы in реттілік]</code></p>
    <p>мұндағы <code>айнымалы</code> – кейбір айнымалының идентификаторы, <code>реттілік</code> – бұл айнымалы қабылдайтын мәндер тізбегі (бұл тізім, жол немесе <code>range</code> функциясының көмегімен алынған нысан болуы мүмкін), <code>өрнек</code> әдетте қолданылатын айнымалыға байланысты кейбір өрнек болып табылады. тізім элементтері болатын генератор толтырылады.</p>
    <p>Мұнда генераторларды пайдаланудың кейбір мысалдары берілген.</p>
    <p>Сондай-ақ генераторды пайдаланып <code>n</code> нөлден тұратын тізім жасауға болады:</p>
{% endblock %}

{% block text_content19 %}
    <p>Бүтін квадраттармен толтырылған тізімді келесідей жасауға болады:</p>
{% endblock %}

{% block text_content20 %}
    <p>Тізімді 1-ден n-ге дейінгі сандар квадраттарымен толтыру қажет болса, <code>range</code> функциясының параметрлерін <code>range(1, n + 1)</code> өзгертуге болады:</p>
{% endblock %}

{% block text_content21 %}
    <p>1-ден 9-ға дейінгі кездейсоқ сандармен толтырылған тізімді осылай алуға болады (<code>random</code> модульден <code>randrange</code> функциясын пайдалану):</p>
{% endblock %}

{% block text_content22 %}
    <p>Және бұл мысалда тізім стандартты енгізуден оқылатын жолдардан тұрады: алдымен тізім элементтерінің санын енгізу керек (бұл мән <code>range</code> функциясына аргумент ретінде пайдаланылады), содан кейін - көрсетілген жолдар саны. :</p>
{% endblock %}

{% block text_content23 %}
    <h1 id="h4">4. Кесінділер</h1>
    <p>Тізімдер арқылы жолдар сияқты кесінділер жасауға болады. Атап айтқанда:</p>
    <p><code>j-i</code> элементтерінің <code>A[i:j]</code> кесіндісі <code>A[i]</code>, <code>A[i+1]</code>, ..., <code>A[j-1]</code>.</p>
    <p><code>A[i:j:-1]</code> <code>i-j</code> элементтерінің кесіндісі <code>A[i]</code>, <code>A[i-1]</code>, ..., <code>A[j+1]</code> (яғни элементтердің реті өзгереді).</p>
    <p><code>k</code> қадамы бар <code>A[i:j:k]</code> кесіндісі: <code>A[i]</code>, <code>A[i+k]</code>, <code>A[i+2*k]</code>,... . Егер <code>k<0</code> болса, онда элементтер қарама-қарсы орналасады.</p>
    <p><code>i</code> немесе <code>j</code> сандарының әрқайсысы болмауы мүмкін, бұл «жолдың басы» немесе «жолдың соңы» дегенді білдіреді</p>
    <p>Тізімдер, жолдардан айырмашылығы, өзгермелі нысандар: тізімнің жеке элементіне жаңа мән тағайындауға болады. Бірақ сіз барлық бөлімдерді өзгерте аласыз. Мысалы:</p>
{% endblock %}

{% block text_content24 %}
    <p>Нәтижесінде <code>A[2:4]</code> кесіндісінің екі элементінің орнына үш элементтен тұратын жаңа тізім енгізілген тізім пайда болады. Енді тізім <code>[1, 2, 7, 8, 9, 5]</code> тең.</p>
{% endblock %}

{% block text_content25 %}
    <p>Нәтижесінде тізім шығады <code>[40, 2, 30, 4, 20, 6, 10]</code>. Мұнда <code>A[::-2] - 10</code>, <code>20</code>, <code>30</code> мәндері тағайындалған <code>A[-1]</code>, <code>A[-3]</code>, <code>A[-5]</code>, <code>A[-7]</code> элементтерінің тізімі, тиісінше 40.</p>
    <p>Үздіксіз кесіндіге (яғни, 1-ден басқа <code>k</code> қадамы бар кесіндіге) жаңа мән тағайындалса, онда ескі және жаңа кесіндідегі элементтердің саны бірдей болуы керек, әйтпесе <code>ValueError</code> орын алады.</p>
    <p><code>A[i]</code> кесінді емес, тізім элементі екенін ескеріңіз!</p>
    <h1 id="h5">Тізімдермен операциялар</h1>
    <p>Тізімдермен көптеген әртүрлі операцияларды оңай орындауға болады.</p>
    <table>
        <tr>
            <td><code>X in A</code></td>
            <td>Элементтің тізімде бар-жоғын тексеріңіз. <code>True</code> немесе <code>False</code> мәнін қайтарады</td>
        </tr>
        <tr>
            <td><code>X not in A</code></td>
            <td><code>not(x in A)</code></td>
        </tr>
        <tr>
            <td><code>min(A)</code></td>
            <td>тізімнің ең <code>кіші</code> элементі</td>
        </tr>
        <tr>
            <td><code>max(A)</code></td>
            <td>Тізімнің ең <code>үлкен</code> элементі</td>
        </tr>
        <tr>
            <td><code>A.index(x)</code></td>
            <td>Тізімдегі <code>x</code> элементінің бірінші пайда болуының индексі, егер ол жоқ болса, ол <code>ValueError</code> ерекше жағдайын жасайды</td>
        </tr>
        <tr>
            <td><code>A.count(x)</code></td>
            <td>Тізімдегі <code>x</code> элементінің қайталану саны</td>
        </tr>
    </table>
{% endblock %}

{% block trinket_url1 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hju7znm?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuceyd?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url3 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjud5xv?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuemcv?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjufztw?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url6 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuhmh7?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url7 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjum6me?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url8 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjujbes?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url9 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjunn5j?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url10 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjus3qm?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url11 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjutswb?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url12 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuusku?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url13 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuw5kg?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url14 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuusku?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url16 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuw5kg?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url17 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuyddg?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url18 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url19 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjuzyxm?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url20 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjv2mvs?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url21 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjv3tzd?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url22 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjv5fg4?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url23 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjv6xug?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url24 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjvg39f?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}
