{% extends 'lecture/lecture.html' %}

{% block title %}
    Есептеулер
{% endblock %}

{% block text_content1 %}
    <h1>1. Бүтін сан арифметикасы</h1>
    <p>+, -, * және ** операциялары бүтін сандар үшін анықталған. Бүтін сандарға арналған бөлу/операция нақты санды (float типінің мәнін) қайтарады. Сондай-ақ, дәрежелеу функциясы, егер көрсеткіш теріс сан болса, float мәнін қайтарады.</p>
    <p>Бірақ сонымен қатар // деп белгіленетін бөлшек бөлігін алып тастау арқылы орындалатын бүтін бөлудің арнайы операциясы бар (ол Паскаль тіліндегі div операциясына сәйкес келеді). Ол бүтін санды қайтарады: бөліндінің бүтін бөлігі. Тағы бір байланысты операция % деп белгіленген бөлудің қалдығын алу операциясы (ол Паскаль тіліндегі mod операциясына сәйкес келеді). Мысалы:</p>
{% endblock %}

{% block text_content2 %}
    <h1>2. Нақты сандар</h1>
    <p>Бұл бөлімде float типінің нақты сандарына назар аударамыз.</p>
    <p>Нақты санды пернетақтадан оқығыңыз келсе, input() функциясы қайтаратын нәтиже float типіне түрлендіру керек екенін ескеріңіз:</p>
{% endblock %}

{% block text_content3 %}
    <p>Еске салайық, бөлу операциясының нәтижесі / әрқашан нақты сан (float), ал // операциясының нәтижесі бүтін (int) болады.</p>
    <p>Нақты сандарды бүтін санға айналдыру нөлге қарай дөңгелектеу арқылы жүзеге асырылады, яғни int(1.7) == 1, int(-1.7) == -1.</p>
{% endblock %}

{% block text_content4 %}
    <h1>3. Math кітапханасы(модулі)</h1>
    <p>Нақты сандармен есептеулерді орындау үшін Python тілінде math деп аталатын кітапханада (модульде) жиналған көптеген қосымша функциялар бар.</p>
    <p>Бұл функцияларды пайдалану үшін программаның басындағы math кітапханасын қосу керек, ол командамен орындалады.</p>
    <code>import math</code>
    <p>Мысалы, нақты сандарды ең жақын бүтін санға дейін дөңгелектегіміз келеді делік. ceil (жоғары) функциясы берілген санды артығымен жуықтап береді, мысалы: math.ceil(x) (яғни, math модульдегі ceil функциясы). x орнына кез келген сан, айнымалы немесе өрнек болуы мүмкін. Функция көрсетуге, басқа айнымалыға тағайындауға немесе өрнекте пайдалануға болатын мәнді қайтарады:</p>
{% endblock %}

{% block text_content5 %}
    <p>Math кітапханасындағы функцияларды пайдаланудың тағы бір жолы, онда math модулінен функцияны пайдаланған сайын осы модульдің атын көрсету қажет емес:</p>
{% endblock %}

{% block text_content6 %}
    <p>Төменде math модульінің негізгі функцияларының тізімі берілген. Бұл функциялардың толығырақ сипаттамасын Python тілінің құжаттама сайтынан табуға болады.</p>
    <p>Тізімдегі кейбір функциялар (int, round, abs) стандартты болып табылады және математикалық модульді пайдалануды қажет етпейді.</p>
{% endblock %}
