{% extends "main/index.html" %}
{% load static %}

{% block title %}
    {{ lecture.lecture }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "lecture/lecture.css" %}">
{% endblock %}

{% block profile %}
    {% if user.is_authenticated %}
{#        <h5>{{ user.username }}</h5>#}
        <form method="post">
{#            <button type="button" class="btn btn-outline-primary"><a href="{% url 'logout' %}">logout</a></button>#}
        </form>
    {% else %}
{#        <a href="#" id="myBtn"><li>Кіру/Тіркелу</li></a>#}
    {% endif %}
{% endblock %}

{% block content %}
<section class="container">
    <div class="section__left">
        <ol>
            <a href="{% url 'print_input' %}"><li>1. ЕНГІЗУ - ШЫҒАРУ</li></a>
            <ol>
                {% block lecture_nav_1 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_1 %}{% endblock %}
            </ol>
            <a href="{% url 'if_else' %}"><li>2. Шартты операторлар</li></a>
            <ol>
                {% block lecture_nav_2 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_2 %}{% endblock %}
            </ol>
            <a href="{% url 'calculations' %}"><li>3. Есептеулер</li></a>
            <ol>
                {% block lecture_nav_3 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_3 %}{% endblock %}
            </ol>
            <a href="{% url 'forloop' %}"><li>4. Цикл for</li></a>
            <ol>
                {% block lecture_nav_4 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_4 %}{% endblock %}
            </ol>
            <a href="{% url 'str' %}"><li>5. Мәтіндер</li></a>
            <ol>
                {% block lecture_nav_5 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_5 %}{% endblock %}
            </ol>
            <a href="{% url 'whileloop' %}"><li>6. Цикл while</li></a>
            <ol>
                {% block lecture_nav_6 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_6 %}{% endblock %}
            </ol>
            <a href="{% url 'list' %}"><li>7. Тізімдер немесе Массивтер</li></a>
            <ol>
                {% block lecture_nav_7 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_7 %}{% endblock %}
            </ol>
            <a href="{% url 'function' %}"><li>8. Функциялар және рекурсия</li></a>
            <ol>
                {% block lecture_nav_8 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_8 %}{% endblock %}
            </ol>
            <a href="{% url 'array' %}"><li>9. Екі өлшемді массивтер</li></a>
            <ol>
                {% block lecture_nav_9 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_9 %}{% endblock %}
            </ol>
            <a href="{% url 'sets' %}"><li>10. Жиындар</li></a>
            <ol>
                {% block lecture_nav_10 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_10 %}{% endblock %}
            </ol>
            <a href="{% url 'dict' %}"><li>11. Сөздіктер</li></a>
            <ol>
                {% block lecture_nav_11 %}{% endblock %}
            </ol>
            <ol>
                {% block task_nav_11 %}{% endblock %}
            </ol>
        </ol>
    </div>
    <div class="section__right">
        {% block header %}{% endblock %}
        {% block main_content %}
        {% endblock %}
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content1 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video1 %}{% endblock %}
                </div>
            </div>
            {% block trinket_url1 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content2 %}{% endblock %}
                    {% block trinket_url2 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video2 %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content3 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video3 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url3 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content4 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video4 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url4 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content5 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video5 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url5 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content6 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video6 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url6 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content7 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video7 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url7 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content8 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video8 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url8 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content9 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video9 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url9 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content10 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video10 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url10 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content11 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video11 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url11 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content12 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video12 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url12 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content13 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video13 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url13 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content14 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video14 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url14 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content15 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video15 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url15 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content16 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video16 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url16 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content17 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video17 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url17 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content18 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video18 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url18 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content19 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video19 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url19 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content20 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video20 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url20 %}{% endblock %}
        </div>
        <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content21 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video21 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url21 %}{% endblock %}
        </div>
         <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content22 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video22 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url22 %}{% endblock %}
        </div>
         <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content23 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video23 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url23 %}{% endblock %}
        </div>
         <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content24 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video24 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url24 %}{% endblock %}
        </div>
         <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content25 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video25 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url25 %}{% endblock %}
        </div>
         <div class="block">
            <div class="block__con">
                <div class="con__left">
                    {% block text_content26 %}{% endblock %}
                </div>
                <div class="con__right con__high">
                    {% block video26 %}{% endblock %}
                </div>
            </div>
        {% block trinket_url26 %}{% endblock %}
        </div>
    </div>
</section>
<script src="{% static 'lecture/lecture.js' %}"></script>
<style>
    .plyr__volume {
        display: none;
    }
    @media (min-width: 879px) {
        .plyr__control[data-plyr='fullscreen'] {
            display: none;
        }
    }
    td, tr, th {
        border: 1px solid black;
    }
</style>
{% endblock %}