{% extends 'lecture/lecture.html' %}

{% load static %}

{% block title %}
    Деректерді енгізу және шығару
{% endblock %}

{% block header %}
    <h1>Деректерді енгізу және шығару</h1>
{% endblock %}

{% block text_content1 %}
    <p>Python — қазіргі таңдағы ең танымал бағдарламалау тілдерінің бірі. Python тілін 1991 жылы Гидо ван Россум жазып шығарған. Python тілі келесі мақсаттарда кеңінен қолданылады:</p>
    <ul>
        <li>веб-әзірлеу (сервер жағында)</li>
        <li>бағдарламалық қамтамасыз ету</li>
        <li>математика</li>
        <li>тағы басқа</li>
    </ul>
    <p>Мәндерді басып шығару үшін Python-да <code>print()</code> функциясы бар. Жақшаның ішіне үтірмен бөліп, біз шығарғымыз келетін объектілерді жазамыз. Міне, бірнеше есептеулер жасайтын бағдарлама:</p>
{% endblock %}

{% block text_content2 %}
    <p>Бағдарламаға деректерді енгізу үшін <code>input()</code> функциясын қолданамыз. Ол бір жолды оқиды.</p>
    <p>Міне, пайдаланушы атын оқитын және онымен сәлемдесетін бағдарлама:</p>
{% endblock %}

{% block text_content3 %}
    <p>Біз деректерді оқитын, өңдейтін және кейбір нәтиже шығаратын бағдарламалар жазамыз. Компьютерде іске қосылған кезде мұндай бағдарламаларпайдаланушы пернетақтадан енгізген мәліметтерді оқиды және нәтижені экранда көрсетеді.</p>
    <p>Екі санды оқитын және олардың қосындысын көрсететін программа жазып көрейік. Ол үшін <code>=</code> меншіктеу(тағайындау) операторы арқылы екі санды санап, оларды <code>a</code> және <code>b</code> айнымалыларында сақтаймыз. Python бағдарламаларындағы меншіктеу(тағайындау) операторының сол жағында айнымалының аты орналасқан – мысалы, латын әріптерінің тізбегі. Кез келген өрнекті меншіктеу(тағайындау) операторының оң жағына қоюға болады. Атау өрнекті бағалау нәтижесін көрсетеді. Төмендегі бағдарламанының нәтижелелерін қараңыз:</p>
{% endblock %}

{% block text_content4 %}
    <p>Біз бағдарлама <code>57</code> шығаратынын көреміз, дегенмен біз тура есептесек <code>5 + 7 = 12</code>болады. Бұл үшінші жолдағы Python екі санды емес, екі жолды(str - мәтін)  «қосқандықтан» осылай болды. Python-да екі жол келесідей қосылады: екінші жол бірінші жолға қосылады.</p>
    <p>Визуализаторда <code>a</code> және <code>b</code> айнымалыларының мазмұны тырнақшаға алынғанын ескеріңіз. Бұл <code>a</code> және <code>b</code> сандарды емес, жолдарды(str - мәтін) қамтитынын білдіреді.</p>
    <p>Python тілінде барлық деректер объект деп аталады. 2 саны «сан 2» объектісі болып табылады, ал <code>«сәлем»</code> сөзі <code>‘«сәлем» сөз қатары (str)’</code> объектісі болып табылады.</p>
    <p>Әрбір объект қандай да бір типке жатады. Жолдар <code>str</code> типті объектілерде, бүтін сандар <code>int</code> типті объектілерде, ал бөлшек сандар (нақты сандар) <code>float</code> типті объектілерде сақталады. Объекттің типі осы типтегі объектілермен қандай әрекеттер жасауға болатындығын анықтайды. Мысалы, егер <code>first</code> және <code>second</code> айнымалылар <code>int</code> типті объектілерді қамтыса, онда оларды көбейтуге болады, ал егер оларда <code>str</code> типті нысандар болса, онда оларды көбейтуге болмайды:</p>
{% endblock %}

{% block text_content5 %}
    <p>Сандар жолын (str – мәтін) бүтін санға түрлендіру үшін <code>int()</code> функциясын қолданамыз. Мысалы, <code>int('23') → 23</code> санын қайтарады.</p>
    <p>Міне, екі санды оқитын және олардың қосындысын басып шығаратын дұрыс бағдарламаның мысалы:</p>
{% endblock %}

{% block trinket_url1 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjnqj8n?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{#{% block trinket_url2 %}#}
{#    <iframe src="https://trinket.io/embed/python/9bcaf4cbed" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>#}
{#{% endblock %}#}

{% block trinket_url2 %}
    <iframe height="350px" src="https://onecompiler.com/embed/python/42hjpctfb?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url3 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjq8rdv?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqh52d?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqj7dp?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block video1 %}
    <video id="player" controls>
      <source src="{% static 'video/input-3.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}

{% block video2 %}
    <video id="player" controls>
      <source src="{% static 'video/input-2.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}

{% block video3 %}
    <video id="player" controls>
      <source src="{% static 'video/input-1.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}

{% block video4 %}
    <video id="player" controls>
      <source src="{% static 'video/input-4.mp4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}

