{% extends 'lecture/lecture.html' %}

{% load static %}

{% block title %}
    Шарттар(Шартты операторлар)
{% endblock %}

{% block header %}
    <h1>Шарттар(Шартты операторлар)</h1>
{% endblock %}

{% block lecture_nav_2 %}
    <a href="#h1"><li>1. Шартты инструкциялар синтаксисі</li></a>
    <a href="#h2"><li>2. Кірістірілген шартты операторлар</li></a>
    <a href="#h3"><li>3. Салыстыру операторлары</li></a>
    <a href="#h4"><li>4. bool деректер типі</li></a>
    <a href="#h5"><li>4.1. Логикалық операторлар</li></a>
    <a href="#h6"><li>5. Каскадты шартты инструкциялар</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Шартты инструкциялар синтаксисі</h1>
    <p>Бұрын қарастырылған бағдарламалардың барлығы сызықтық құрылымға ие болды: барлық командалар бірінен соң бірі ретімен орындалды, әрбір жазбаша нұсқау орындалуы керек.</p>
    <p>Мысалы біз берілген <code>x</code> санынан оның абсолюттік мәнін (модульін) анықтағымыз келеді делік. Бағдарлама <code>x>0</code> болса, <code>x</code> айнымалысының мәнін немесе басқа жағдайда <code>-x</code> мәнін басып шығаруы керек. Мынадай жағдайда, программаның сызықтық құрылымы бұзылған болып табылады: <code>х>0</code> шартының орындалуына  байланысты осы немесе басқа мән шығарылуы керек. Python бағдарламасының сәйкес фрагменті төменде көрсетілгендей жазылады:</p>
{% endblock %}
{% block text_content2 %}
    <p>Бұл бағдарлама шартты <code>if</code> операторын пайдаланады. <code>if</code> сөзінен кейін қос нүктемен аяқталатын тексерілетін шарт <code>(x > 0)</code> көрсетіледі. Осыдан кейін шарт ақиқат болса орындалатын нұсқаулар блогы (тізбегі) келеді, біздің мысалда бұл <code>x</code> мәнін көрсетеді. Содан кейін <code>else</code> сөзі (әйтпесе), қос нүктемен аяқталады және тексерілетін шарт жалған болса орындалатын нұсқаулар блогы келеді, бұл жағдайда <code>-x</code> мәні басып шығарылады.</p>
    <p>Сонымен, Python тіліндегі шартты инструкция келесі синтаксиске ие:</p>
    <p>
        <pre class="code">
        егер Шарт:
            Инструкциялық блок 1
        басқа:
            Инструкциялық блок 2
        </pre>
    </p>
    <p>Шарт ақиқат болса, Инструкциялық блок 1 орындалады. Шарт қате болса, Инструкциялық блок 2 орындалады.</p>
    <p>Шартты инструкцияда <code>else</code> сөзі және одан кейінгі блок болмауы мүмкін. Бұл нұсқау толық емес тармақталу деп аталады. Мысалы, егер <code>x</code> саны берілсе және біз оны <code>x</code>-тің абсолютті мәнімен ауыстырғымыз келсе, онда мұны келесідей орындауға болады:</p>
{% endblock %}

{% block text_content3 %}
    <p>Бұл мысалда <code>x</code> айнымалысына <code>-x</code> мәні меншіктеледі(тағайындалады), бірақ тек <code>x<0</code> болса ғана. Бірақ <code>print(x)</code> инструкциясы тексерілетін жағдайға қарамастан әрқашан орындалады.</p>
    <p>Python <code>if</code> немесе <code>else</code> операторына қатысты инструкциялар блогын бөлектеу үшін шегіністерді(табуляция) пайдаланады. Бір блокқа жататын барлық инструкциялардың шегініс көлемі бірдей болуы керек, яғни жолдың басындағы бос орындар саны бірдей. 4 бос орын шегінісін(табуляция) пайдалану ұсынылады немесе шегініс ретінде табуляция таңбасын пайдалануға болады.</p>
    <p>Бұл Python синтаксисі мен көптеген тілдердің синтаксисі арасындағы маңызды айырмашылықтардың бірі, онда блоктар арнайы сөздермен бөлінеді, мысалы, Кумир тіліндегі <code>нц... кц</code>, <code>begin... end</code> Паскаль тілінде немесе C тіліндегі фигуралы жақшалар. </p>
{% endblock %}

{% block text_content4 %}
    <h1 id="h2">2. Кірістірілген шартты операторлар</h1>
    <p>Шартты инструкциялардың ішінде кез келген Python тіліндегі инструкцияды, соның ішінде шартты инструкцияды пайдалануға болады. Біз кірістірілген тармақты аламыз - бір айыру жолынан кейін бағдарламаны орындау кезінде басқа айыру жолы пайда болады. Бұл
    жағдайда кірістірілген блоктар үлкенірек шегініс өлшеміне ие (мысалы, 8 бос орын). Мұны нөлдік емес х және у сандары берілген, (х,у) нүктесі координаталық жазықтықтың қай ширегінде орналасқанын анықтайтын программаның мысалы арқылы көрсетейік:</p>
{% endblock %}

{% block text_content5 %}
    <p>Бұл мысалда біз түсініктемелерді(комментариилерді) қолдандық - интерпретатор елемейтін мәтін. Python тіліндегі түсініктемелер(комментариилер) - <code>#</code> таңбасы және жолдың соңына дейін осы таңбадан кейінгі барлық мәтін.</p>
{% endblock %}

{% block text_content6 %}
    <h1 id="h3">3. Салыстыру операторлары</h1>
    <p>Әдетте, келесі салыстыру операторларының бірінің нәтижесі тексерілетін шарт ретінде пайдаланылады:</p>
    <p><code> < </code></p>
    <p>Кіші – бірінші операнд екіншіден аз болса, шарт дұрыс болады.</p>
    <p><code> > </code></p>
    <p>Үлкен – шарт бірінші операнд екіншісінен үлкен болса, дұрыс болады.</p>
    <p><code><=</code></p>
    <p>Аз немесе тең.</p>
    <p><code> >= </code></p>
    <p>Үлкен немесе тең. </p>
    <p><code> == </code></p>
    <p>Теңдік. Шарт дұрыс, егер екі операнд тең болса.</p>
    <p><code> != </code></p>
    <p>Тең емес. Шарт дұрыс, егер екі операнд тең емес болса.</p>
    <br><br>
    <p>Мысалы, <code>(x * x < 1000)</code> шарты «<code>x * x</code> мәні 1000-нан аз» дегенді білдіреді, </p>
    <p>ал <code>(2 * x != y)</code> шарты «x-тің екі есе мәні <code>y</code> мәніне тең емес» дегенді білдіреді.</p>
    <p>Python тіліндегі салыстыру операторларын тізбектерге біріктіруге болады (басқа бағдарламалау тілдерінің көпшілігінен айырмашылығы, бұл үшін логикалық қосылғыштарды пайдалану қажет), мысалы, <code>a == b == c</code> немесе <code>1 <= x <= 10</code>.</p>
{% endblock %}

{% block text_content7 %}
    <h1 id="h4">4. bool деректер типі</h1>
    <p>Салыстыру операторлары арнайы логикалық <code>bool</code> типтегі мәндерін қайтарады. Логикалық мәндер екі мәннің бірін қабылдай алады: <code>True</code> немесе <code>False</code>. Логикалық ақиқат мәнін <code>int</code> мәніне түрлендіру 1-ге, ал <code>False</code> мәніне түрлендіру 0-ге әкеледі. Кері түрлендіру 0 санын <code>False</code> мәніне және кез келген нөлдік емес санды <code>True</code> мәніне түрлендіреді. <code>str</code> параметрін <code>bool</code> түріне түрлендіру кезінде бос жол <code>False</code> мәніне және кез келген бос емес жол <code>True</code> мәніне түрлендіріледі.</p>
{% endblock %}

{% block text_content8 %}
    <h1 id="h5">4.1. Логикалық операторлар</h1>
    <p>Кейде бір емес, бірнеше шартты бір уақытта тексеру керек. Мысалы, берілген санның жұп <code>(n % 2 == 0)</code> шартын қолданатынын тексеруге болады (<code>2</code>-ге бөлінген <code>n</code> қалдығы <code>0</code>) және берілген екі <code>n</code> және <code>m</code> бүтін сандарының жұп екенін тексеру қажет болса. , екі шарттың дұрыстығын тексеру керек: <code>n % 2 == 0</code> және <code>m % 2 == 0</code>, олар үшін және <code>and</code> операторы арқылы біріктіру керек (логикалық ЖӘНЕ): <code>n % 2 == 0</code> және <code>m % 2 == 0</code>.</p>
    <p>Python тілінде стандартты логикалық операторлар бар: логикалық ЖӘНЕ, логикалық НЕМЕСЕ, логикалық терістеу.</p>
    <p>Логикалық ЖӘНЕ – екілік оператор (яғни екі операндты оператор: сол және оң жақ) және және пішіні бар. <code>and</code> операторы <code>True</code> мәнін қайтарады, егер оның операндтарының екеуі де <code>True</code> болса ғана.</p>
    <p>Логикалық НЕМЕСЕ екілік оператор болып табылады және кем дегенде бір операнд <code>True</code> болғанда ғана <code>True</code> мәнін қайтарады. «Логикалық НЕМЕСЕ» операторында немесе пішіні бар.</p>
    <p>Логикалық ЕМЕС (терістеу) біртұтас (яғни бір операндты) оператор болып табылады және бір операндтан кейін жоқ пішінге ие. Логикалық ЕМЕС, егер операнд <code>False</code> болса және керісінше болса, <code>True</code> мәнін қайтарады.</p>
    <p>Мысал. a немесе b сандарының кем дегенде біреуі 0-мен аяқталатынын тексерейік:</p>
{% endblock %}

{% block text_content9 %}
    <p>а саны оң, b теріс емес екенін тексерейік:</p>
    <pre style="color: red">
        if a > 0 and not (b < 0):
    </pre>
    <p>Немесе not <code>(b < 0)</code> орнына <code>(b >= 0)</code> жазуға болады.</p>
{% endblock %}

{% block text_content10 %}
    <h1 id="h6">5. Каскадты шартты инструкциялар</h1>
    <p>Координаталық жазықтықтың төрттен бір бөлігін анықтайтын мысал бағдарламаны <code>if... elif... else</code> операциясы бар «каскад» тізбегі арқылы қайта жазуға болады:</p>
{% endblock %}

{% block text_content11 %}
    <p>Бұл конструкцияда <code>if, ..., elif</code> шарттары бір-бірден тексеріліп, бірінші ақиқат шартқа сәйкес блок орындалады. Тексерілетін барлық шарттар жалған болса, <code>else</code> блогы орындалады.</p>
{% endblock %}

{% block trinket_url1 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqpmax?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqsj4j?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqxhep?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url8 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjqz98v?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}

{% block trinket_url10 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjr2erx?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=false" width="100%"></iframe>
{% endblock %}