{% extends 'lecture/lecture.html' %}

{% block title %}
    Сабақ 9. Екі өлшемді массивтер
{% endblock %}

{% block header %}
    <h1>Екі өлшемді массивтер</h1>
{% endblock %}

{% block lecture_nav_9 %}
    <a href="#h1"><li>1. Кірістірілген тізімдерді өңдеу және шығару</li></a>
    <a href="#h2"><li>2. Кірістірілген тізімдерді жасау</li></a>
    <a href="#h3"><li>3. Екі өлшемді массив енгізу</li></a>
    <a href="#h4"><li>4. Екі өлшемді массивті өңдеу мысалы</li></a>
    <a href="#h5"><li>5. Екі өлшемді массивтердің кірістірілген генераторлары</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Кірістірілген тізімдерді өңдеу және шығару</h1>
    <p>Көбінесе тапсырмалар деректері бар тікбұрышты кестелерді сақтауды талап етеді. Мұндай кестелер матрицалар немесе екі өлшемді массивтер деп аталады. Python бағдарламалау тілінде кестені жолдар тізімі ретінде көрсетуге болады, оның әрбір элементі өз кезегінде тізім, мысалы, сандар. Мысалы, екі жол мен үш бағаннан тұратын сандық кесте құрылатын, оның көмегімен әртүрлі әрекеттер орындалатын программаны берейік.</p>
{% endblock %}

{% block text_content2 %}
    <p>Мұнда <code>a[0]</code> тізімінің бірінші жолы <code>[1, 2, 3]</code> сандар тізімі болып табылады. Яғни, <code>a[0][0] == 1</code>, мән <code>a[0][1] == 2</code>, <code>a[0][2] == 3</code>,<code>a[1][0] == 4</code>, <code>a[ 1 ][1] == 5</code>, <code>a[1][2] == 6</code>.</p>
    <p>Тізімді өңдеу және көрсету үшін, әдетте, екі кірістірілген цикл пайдаланылады. Бірінші цикл жол нөмірі бойынша қайталанады, екінші цикл сызық ішіндегі элементтер арқылы өтеді. Мысалы, сандарды бір жолдағы бос орындармен бөліп, екі өлшемді сандық тізімді жол бойынша көрсету үшін мына әрекетті орындауға болады:</p>
{% endblock %}

{% block text_content3 %}
    <p>Біз Python тіліндегі for циклінің айнымалысы <code>range()</code> функциясы арқылы жасалған ауқымда ғана емес, сонымен қатар жалпы кез келген тізбектің кез келген элементтерін қайталай алатынын бір рет түсіндіруге тырыстық. Python тіліндегі тізбектер - бұл тізімдер, жолдар және біз әлі кездеспеген басқа да нысандар. Бұл үшін ыңғайлы <code>for</code> циклінің қасиетін пайдаланып екі өлшемді массив шығару жолын көрсетейік:</p>
{% endblock %}

{% block text_content4 %}
    <p>Әрине, бір жолды шығару үшін <code>join()</code> әдісін қолдануға болады:</p>
{% endblock %}

{% block text_content5 %}
    <p>Тізімдегі барлық сандардың қосындысын есептеу үшін біз екі кірістірілген циклды қолданамыз:</p>
{% endblock %}

{% block text_content6 %}
    <p>Немесе индекс бойынша емес, жол мәндері бойынша циклмен бірдей нәрсе:</p>
{% endblock %}

{% block text_content7 %}
    <h1 id="h2">2. Кірістірілген тізімдерді жасау</h1>
    <p>Екі сан берілсін: жолдар саны <code>n</code> және бағандар саны <code>m</code>. Нөлдермен толтырылған <code>n×m</code> өлшемдерінің тізімін жасау керек.</p>
    <p>Айқын шешім дұрыс емес болып шығады:</p>
    <code>a = [[0] * m] * n</code>
{% endblock %}

{% block text_content8 %}
    <p>Егер сіз <code>a[0][0]</code> элементіне <code>5</code> мәнін тағайындасаңыз, содан кейін басқа <code>a[1][0]</code> элементінің мәнін көрсетсеңіз, мұны оңай тексеруге болады - ол да <code>5</code>-ке тең болады. <code>[0] * m - m</code> нөлдер тізіміне сілтемені қайтарады. Бірақ сол элементтің кейінгі итерациясы сол тізімге сілтеме болып табылатын <code>n</code> элементтердің тізімін жасайды (тізімдердегі <code>b = a</code> жаңа тізім жасамайтыны сияқты), нәтижесінде алынған тізімнің барлық жолдары шын мәнінде бір және бірдей сызық.</p>
    <p>Визуализаторда тізімдердің идентификатор нөміріне назар аударыңыз. Егер екі тізімнің идентификаторы бірдей болса, олар шын мәнінде жадтағы бірдей тізім болып табылады.</p>
{% endblock %}

{% block text_content9 %}
    <p>Сондықтан екі өлшемді тізімді бір жолды қайталау операциясы арқылы жасау мүмкін емес. Енді не істеу керек?</p>
    <p>Бірінші әдіс: алдымен <code>n</code> элементтердің тізімін жасаңыз (бастау үшін тек <code>n</code> нөл). Содан кейін тізімнің әрбір элементін <code>m</code> элементтен тұратын басқа бір өлшемді тізімге сілтеме жасаймыз:</p>
{% endblock %}

{% block text_content10 %}
    <p>Басқа (бірақ ұқсас) әдіс: бос тізім жасаңыз, содан кейін оған жаңа элементті <code>n</code> рет қосыңыз, бұл жолдар тізімі:</p>
{% endblock %}

{% block text_content11 %}
    <p>Бірақ генераторды пайдалану одан да оңай: <code>n</code> элементтердің тізімін жасаңыз, олардың әрқайсысы <code>m</code> нөлдер тізімі болады:</p>
{% endblock %}

{% block text_content12 %}
    <p>Бұл жағдайда әрбір элемент басқалардан тәуелсіз құрылады (тізім <code>[0] * m</code> тізімнің келесі элементін толтыру үшін қайта құрастырылады) және сол тізімге сілтемелер көшірілмейді.</p>
{% endblock %}

{% block text_content13 %}
    <h1 id="h3">3. Екі өлшемді массив енгізу</h1>
    <p>Бағдарлама кіріс ретінде әрқайсысы бос орындармен бөлінген <code>m</code> саннан тұратын <code>n</code> жол түріндегі екі өлшемді массивді алсын. Оларды қалай санауға болады? Мысалы, келесідей:</p>
{% endblock %}

{% block text_content14 %}
    <p>Немесе күрделі кірістірілген функция шақыруларын пайдаланбай:</p>
{% endblock %}

{% block text_content15 %}
    <p>Сіз генераторды пайдаланып бірдей нәрсені жасай аласыз:</p>
{% endblock %}

{% block text_content16 %}
    <h1 id="h4">4. Екі өлшемді массивті өңдеу мысалы</h1>
    <p><code>n</code> жолдан және <code>n</code> бағаннан тұратын шаршы массив берейік. Жоғарғы сол жақтан төменгі оң жақ бұрышқа өтетін негізгі диагональда орналасқан элементтерге <code>1</code> мәнін беру керек (яғни, <code>a[i][j]</code> элементтері, олар үшін <code>i==j</code>), және негізгі диагональдың үстінде орналасқан элементтерге 0 мәні, негізгі диагональдан төмен элементтердің мәні 2. Яғни, келесі массивді алу керек (<code>n==4</code> үшін мысал):</p>
    <pre class="code">
    1 0 0 0
    2 1 0 0
    2 2 1 0
    2 2 2 1
    </pre>
    <p>Бұл мәселені шешудің бірнеше жолдарын қарастырайық. Негізгі диагоналдың үстінде жатқан элементтер <code>a[i][j]</code> элементтері болып табылады, олар үшін <code>i < j</code>, ал негізгі диагональдан төмен элементтер үшін <code>i>j</code>. Осылайша, біз <code>i</code> және <code>j</code> мәндерін салыстырып, оларды <code>A[i][j]</code> мәнін анықтау үшін пайдалана аламыз. Біз келесі алгоритмді аламыз:</p>
{% endblock %}

{% block text_content17 %}
    <h1 id="h5">5. Екі өлшемді массивтердің кірістірілген генераторлары</h1>
    <p>Барлық жолдар үшін генератор ішіндегі жол болып табылатын тізімге генераторды орналастыру арқылы екі өлшемді массивтерді жасау үшін кірістірілген генераторларды пайдалануға болады. Әрбір элементі <code>m</code> нөлдер тізімі болатын <code>n</code> элементтің тізімін жасайтын генераторды пайдаланып <code>n</code> жол мен <code>m</code> бағанның тізімін жасауға болатынын еске түсіріңіз:</p>
    <code>[[0] * m for i in range(n)]</code>
    <p>Бірақ сонымен бірге ішкі тізімді, мысалы, келесідей генератордың көмегімен де жасауға болады: <code>[0 for j in range(m)]</code>. Бір генераторды екіншісіне салу арқылы біз кірістірілген генераторларды аламыз:</p>
    <code>[[0 for j in range(m)] for i in range(n)]</code>
    <p>Бірақ егер 0 саны <code>i</code> (жол нөмірі) және <code>j</code> (баған нөмірі) байланысты қандай да бір өрнекпен ауыстырылса, онда сіз қандай да бір формула бойынша толтырылған тізімді ала аласыз.</p>
    <p>Мысалы, келесі массивді көрсету керек делік (ыңғайлы болу үшін элементтер арасында қосымша бос орындар қосылады):</p>
    <pre class="code">
    0  0  0  0  0  0
    0  1  2  3  4  5
    0  2  4  6  8 10
    0  3  6  9 12 15
    0	4  8 12 16 20
    </pre>
    <p>Бұл массивте <code>n = 5</code> жол, <code>m = 6</code> баған бар және <code>i</code> жолы мен <code>j</code> бағанындағы элемент мына формула бойынша есептеледі: <code>a[i][j] = i * j</code>.</p>
    <p>Мұндай массив жасау үшін генераторды пайдалануға болады:</p>
    <code>[[i * j for j in range(m)] for i in range(n)]</code>
{% endblock %}

{% block trinket_url1 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwdra9?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwfwx6?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url3 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjxcn6j?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjxdf8g?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjxfcyx?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url6 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwmpdn?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url8 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjxgj8a?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url9 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwpwve?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url10 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwqyns?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url12 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwrhbe?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url13 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwtexr?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url14 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwu96f?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url15 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwvqft?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url16 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjwy2q5?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
