{% extends 'lecture/lecture.html' %}

{% block title %}
    Жолдар(Мәтіндік тип)
{% endblock %}

{% block lecture_nav_5 %}
    <a href="#h1"><li>1. Жолдар(Мәтіндік тип)</li></a>
    <a href="#h2"><li>2. Кесінділер</li></a>
    <a href="#h3"><li>3. Методтар(Әдістер)</li></a>
    <a href="#h4"><li>3.1. find және rfind методтары(әдістері)</li></a>
    <a href="#h5"><li>3.2. replace(ауыстыру) методы</li></a>
    <a href="#h6"><li>3.3. count(санау) методы</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Жолдар(Мәтіндік тип)</h1>
    <p>Жол стандартты енгізу input() функциясы арқылы оқылады. Еске салайық, екі жол үшін қосу (конкатенация) операциясы анықталған, және жолды санға көбейту операциясы да анықталған.</p>
    <p>Жол символдар тізбегінен тұрады. len() функциясының көмегімен таңбалар санын (жол ұзындығы) білуге болады.</p>
    <p>Python тіліндегі кез келген басқа нысанды оған сәйкес келетін жолға аударуға болады. Ол үшін жолға түрлендірілетін нысанды параметр ретінде бере отырып, str() функциясын шақыру керек.
        Жолды санға түрлендіру int() функциясы арқылы жүзеге асырылады, бірақ тек қана мүмкіндік болса ғана!</p>
{% endblock %}

{% block text_content2 %}
    <h1 id="h2">2. Кесінділер</h1>
    <p>Python тілінде мәтіндер бір тырнақшамен немесе қос тырнақшамен қоршалады. мысалы «salem» сөзін былайша жазуға болады: “salem” немесе ‘salem’. Мәтіндер әдетте символдар тізбегі ретінде қарастырылады. Яғни “salem” сөзі бес символдан тұрады. Бірінші символ — s, екінші символ — a, үшінші символ — l, төртінші символ — e және бесінші символ — m. Әр символға қол жеткізу үшін мәтіндік айнымалының атын, кейін тік жақшаның ішіне символдың реттік нөмірін жазу керек. Реттік нөмір - индекс деп аталады. Бағдарламалауда индекс нөлден басталады. Сол себепті бірінші символ индексі — 0, екінші символ индексі — 1, үшінші символ индексі — 2, төртінші символ индексі — 3, және бесінші символ индексі — 4.</p>
    <p>Slice – берілген жолдан бір таңбаны немесе ішкі жолдың немесе қосалқы қатардың кейбір фрагментін шығару.</p>
    <p>Кесулердің үш пішіні бар. Кесіндінің ең қарапайым түрі: жолдың бір таңбасын алу, атап айтқанда S[i] - i нөмірленген бір таңбадан тұратын кесінді. Бұл жағдайда нөмірлеу 0 санынан басталады деп есептеледі. Яғни, егер S = 'Hello' болса, онда S[0] == 'H', S[1] == 'e', S [2] == 'l' , S[3] == 'l', S[4] == 'o'.</p>
    <p>Python-да жол таңбалары үшін бөлек түрі жоқ екенін ескеріңіз. S[i] кесіндісінің нәтижесінде алынған әрбір нысан да str типті жол болып табылады.</p>
    <p>Жолдағы символдардың реттік саны (сонымен қатар басқа деректер құрылымдарындағы: тізімдер, кортеждер) индекс деп аталады.</p>
    <p>Теріс индекс мәнін көрсетсеңіз, сан -1 санынан бастап соңынан есептеледі. Яғни, S[-1] == 'o', S[-2] == 'l', S[-3] == 'l', S[-4] == 'e', S [-5 ] == 'H'.
        Немесе кесте түрінде:</p>
    <table>
        <tr>
            <th>S жолы</th>
            <th>H</th>
            <th>e</th>
            <th>l</th>
            <th>l</th>
            <th>o</th>
        </tr>
        <tr>
            <td>Индекс</td>
            <td>S[0]</td>
            <td>S[1]</td>
            <td>S[2]</td>
            <td>S[3]</td>
            <td>S[4]</td>
        </tr>
        <tr>
            <td>Индекс</td>
            <td>S[-5]</td>
            <td>S[-4]</td>
            <td>S[-3]</td>
            <td>S[-2]</td>
            <td>S[-1]</td>
        </tr>
    </table>
    <p>Егер S жолының кесіндісіндегі таңбаның саны len(S) мәнінен үлкен немесе оған тең немесе -len(S) мәнінен кіші болса, онда осы жол таңбасына қатынасу кезінде IndexError: жол индексі ауқымнан тыс қате пайда болады.</p>
    <p>Екі параметрі бар кесінді: S[a:b] a индексіндегі таңбадан басталатын b индексіндегі таңбаға дейін, бірақ соңы ретінде көрсетілген символ қосылмайды. Мысалы, S[1:4] == 'ell', S[-4:-1] деп жазсаңыз, дәл солай болады. Бір кесіндіде оң және теріс индекстерді де пайдалануға болады, мысалы, S[1:-1] – бірінші және соңғы таңбасыз жол (кесінді 1-декстегі таңбадан басталып, -1 индексінде емес оның ішінде).</p>
    <p>Бұл кесу пішімін пайдаланған кезде IndexError ешқашан пайда болмайды. Мысалы, S[1:5] кесіндісі 'ello' жолын қайтарады, егер сіз екінші индексті өте үлкен етіп жасасаңыз, нәтиже бірдей болады, мысалы, S[1:100] (егер жолда 100 таңбадан артық болмаса).</p>
    <p>Екінші параметрді өткізіп жіберсеңіз (бірақ қос нүкте қойсаңыз), онда кесінді жолдың соңына дейін алынады. Мысалы, жолдан бірінші таңбаны жою үшін (оның индексі 0) S[1:] кесіндісін алуға болады. Сол сияқты, бірінші параметрді өткізіп жіберсеңіз, жолдың басынан бір бөлікті алуға болады. Яғни, S[:-1] кесіндісінің көмегімен жолдан соңғы таңбаны жоюға болады. S[:] тілігі S жолының өзіне сәйкес келеді.</p>
    <p>Жолдағы кез келген кесу операциясы жаңа жолдарды жасайды және ешқашан бастапқы жолды өзгертпейді. Python-да жолдар әдетте өзгермейді және оларды өзгерту мүмкін емес. Ескі айнымалыға жаңа жолды меншіктей аласыз.</p>
    <p>S[a:b:d] үш параметрі бар кесінді көрсетсеңіз, онда үшінші параметр range() функциясындағыдай қадамды анықтайды, яғни a, a + d, a + 2 * индекстері бар символдар. d және т.б. қабылданады Егер үшінші параметрдің мәнін 2-ге орнатсаңыз, әрбір екінші таңба кесіндіге қосылады, ал кесіндінің мәнін -1 мәніне орнатсаңыз, онда таңбалар керісінше жүреді.</p>
    <p>Мысалы, S[::-1] тілімімен жолды кері айналдыруға болады.</p>
{% endblock %}

{% block text_content3 %}
    <h1 id="h3">3. Методтар(Әдістер)</h1>
    <p>Метод - бұл объектіге қолданылатын функция, бұл жағдайда жол. Метод объект.әдіс(параметрлер) түрінде шақырылады. Мысалы, S.find("e") - "e" бір параметрі бар S жолына табу әдісінің қолданылуы.</p>
{% endblock %}

{% block text_content4 %}
    <h1 id="h4">3.1. find және rfind методтары(әдістері).</h1>
    <p>find методы берілген жолда берілген ішкі жолды (параметр ретінде жіберілетін) табады. Функция ізделетін ішкі жолдың бірінші пайда болуының индексін қайтарады. Ішкі жол табылмаса, метод -1 мәнін қайтарады.</p>
{% endblock %}

{% block text_content5 %}
    <p>Сол сияқты, rfind методы берілген жолдың соңғы пайда болуының индексін қайтарады («іздеу оң жақ»).</p>
{% endblock %}

{% block text_content6 %}
    <p>Егер сіз S.find(T, a, b) үш параметрі бар табу методын шақырсаңыз, онда іздеу S[a:b] кесіндісінде орындалады. S.find(T, a) екі параметрін ғана көрсетсеңіз, онда іздеу S[a:] кесіндісінде, яғни a индексі бар символдан бастап жолдың соңына дейін жүргізіледі. S.find(T, a, b) әдісі кесіндіге қатысты индексті емес, S жолындағы индексті қайтарады.</p>
{% endblock %}

{% block text_content7 %}
    <h1 id="h5">3.2. replace(ауыстыру) методы</h1>
    <p>replace(ауыстыру) методы бір жолдың таңдалған символының барлығын біз белгілеген символмен ауыстырады. Формат: S.replace(old, new, count) — old ішкі жолдың барлық қайталануларын S жолындағы new ішкі жолымен ауыстырыңыз. Мысалы:</p>
{% endblock %}

{% block text_content8 %}
    <p>Егер replace(ауыстыру) методына тағы бір параметр берілсе: S.replace(old, new, count), онда барлық символдар ауыстырылмайды, арнайы көрсеткен санға сәйкес алғашқылары ғана ауыстырылады.</p>
{% endblock %}

{% block text_content9 %}
    <h1 id="h6">3.3. count(санау) методы</h1>
    <p>Бір жолдың ішіндегі біз таңдаған символдың қайталану санын, қанша рет кездескенін санайды. S.count(T) шақыруының ең қарапайым түрі S жолындағы T жолының қайталануларының санын қайтарады.</p>
{% endblock %}

{% block text_content10 %}
    <p>S.count(T, a, b) үш параметрін көрсетсеңіз, S[a:b] кесіндісіндегі T жолының қайталану саны есептеледі.</p>
{% endblock %}