{% extends 'lecture/lecture.html' %}

{% block title %}
    Есептеулер
{% endblock %}

{% block header %}
    <h1>Есептеулер</h1>
{% endblock %}

{% block lecture_nav_3 %}
    <a href="#h1"><li>1. Бүтін сан арифметикасы</li></a>
    <a href="#h2"><li>2. Нақты сандар</li></a>
    <a href="#h3"><li>3. Math кітапханасы(модулі)</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Бүтін сан арифметикасы</h1>
    <p><code>+</code>, <code>-</code>, <code>*</code> және <code>**</code> операциялары бүтін сандар үшін анықталған. Бүтін сандарға арналған бөлу <code>/</code> операция нақты санды (<code>float</code> типінің мәнін) қайтарады. Сондай-ақ, дәрежелеу функциясы, егер көрсеткіш теріс сан болса, <code>float</code> мәнін қайтарады.</p>
    <p>Бірақ сонымен қатар <code>//</code> деп белгіленетін бөлшек бөлігін алып тастау арқылы орындалатын бүтін бөлудің арнайы операциясы бар (ол Паскаль тіліндегі <code>div</code> операциясына сәйкес келеді). Ол бүтін санды қайтарады: бөліндінің бүтін бөлігі. Тағы бір байланысты операция <code>%</code> деп белгіленген бөлудің қалдығын алу операциясы (ол Паскаль тіліндегі <code>mod</code> операциясына сәйкес келеді). Мысалы:</p>
{% endblock %}

{% block text_content2 %}
    <h1 id="h2">2. Нақты сандар</h1>
    <p>Бұл бөлімде <code>float</code> типінің нақты сандарына назар аударамыз.</p>
    <p>Нақты санды пернетақтадан оқығыңыз келсе, <code>input()</code> функциясы қайтаратын нәтиже <code>float</code> типіне түрлендіру керек екенін ескеріңіз:</p>
{% endblock %}

{% block text_content3 %}
    <p>Еске салайық, бөлу операциясының нәтижесі <code>/</code> әрқашан нақты сан (<code>float</code>), ал <code>//</code> операциясының нәтижесі бүтін (<code>int</code>) болады.</p>
    <p>Нақты сандарды бүтін санға айналдыру нөлге қарай дөңгелектеу арқылы жүзеге асырылады, яғни <code>int(1.7) == 1</code>, <code>int(-1.7) == -1</code>.</p>
{% endblock %}

{% block text_content4 %}
    <h1 id="h3">3. Math кітапханасы(модулі)</h1>
    <p>Нақты сандармен есептеулерді орындау үшін Python тілінде <code>math</code> деп аталатын кітапханада (модульде) жиналған көптеген қосымша функциялар бар.</p>
    <p>Бұл функцияларды пайдалану үшін программаның басындағы math кітапханасын қосу керек, ол командамен орындалады.</p>
    <code>import math</code>
    <p>Мысалы, нақты сандарды ең жақын бүтін санға дейін дөңгелектегіміз келеді делік. <code>ceil</code> (жоғары) функциясы берілген санды артығымен жуықтап береді, мысалы: <code>math.ceil(x)</code> (яғни, <code>math</code> модульдегі <code>ceil</code> функциясы). <code>x</code> орнына кез келген сан, айнымалы немесе өрнек болуы мүмкін. Функция көрсетуге, басқа айнымалыға тағайындауға немесе өрнекте пайдалануға болатын мәнді қайтарады:</p>
{% endblock %}

{% block text_content5 %}
    <p><code>math</code> кітапханасындағы функцияларды пайдаланудың тағы бір жолы, онда <code>math</code> модулінен функцияны пайдаланған сайын осы модульдің атын көрсету қажет емес:</p>
{% endblock %}

{% block text_content6 %}
    <p>Төменде <code>math</code> модульінің негізгі функцияларының тізімі берілген. Бұл функциялардың толығырақ сипаттамасын Python тілінің құжаттама сайтынан табуға болады.</p>
    <p>Тізімдегі кейбір функциялар (<code>int</code>, <code>round</code>, <code>abs</code>) стандартты болып табылады және <code>math</code> модульді пайдалануды қажет етпейді.</p>
{% endblock %}

{% block text_content7 %}
    <table>
        <tr>
            <th>Дөңгелектеу</th>
        </tr>
        <tr>
            <td><code>int(x) </code></td>
            <td>Санды нөлге қарай дөңгелектейді. Бұл стандартты функция, оны пайдалану үшін <code>math</code> модуль қосудың қажеті жоқ.</td>
        </tr>
        <tr>
            <td><code>round(x) </code></td>
            <td>Санды ең жақын бүтін санға дейін дөңгелектейді. Егер санның бөлшек бөлігі 0,5 болса, онда сан жұп санға дейін дөңгелектенеді.</td>
        </tr>
        <tr>
            <td><code>round(x, n) </code></td>
            <td><code>x</code> санын <code>n</code> ондық бөлшекке дейін дөңгелектейді. Бұл стандартты функция, оны пайдалану үшін <code>math</code> модуль қосудың қажеті жоқ.</td>
        </tr>
        <tr>
            <td><code>floor(x)</code> </td>
            <td>Санды төменге («еден») дөңгелектейді, <code>floor(1,5) == 1</code>, <code>floor(-1,5) == -2</code></td>
        </tr>
        <tr>
            <td><code>ceil(x)</code> </td>
            <td>Санды жоғары дөңгелектейді («төбе»), <code>ceil(1,5) == 2</code>, <code>ceil(-1,5) == -1</code></td>
        </tr>
        <tr>
            <td><code>abs(x)</code> </td>
            <td>Модуль (абсолютті мән). Бұл стандартты мүмкіндік.</td>
        </tr>
        <tr>
            <td><code>sqrt(x)</code> </td>
            <td>Шаршы түбір. Қолданылуы: <code>sqrt(x)</code></td>
        </tr>
        <tr>
            <td><code>log(x)</code></td>
            <td>Натурал логарифм. <code>log(x, b)</code> ретінде шақырылғанда, логарифмді <code>b</code> негізіне қайтарады.</td>
        </tr>
        <tr>
            <td><code>e</code></td>
            <td>Натурал логарифмдердің негізі e = 2,71828... Тригонометрия
            </td>
        </tr>
        <tr>
            <td><code>sin(x)</code> </td>
            <td>Радианмен көрсетілген бұрыштың синусы</td>
        </tr>
        <tr>
            <td><code>cos(x)</code></td>
            <td>Радианмен көрсетілген бұрыштың косинусы</td>
        </tr>
        <tr>
            <td><code>tan(x)</code></td>
            <td>Радианмен көрсетілген бұрыштың тангенсі</td>
        </tr>
        <tr>
            <td><code>asin(x)</code></td>
            <td>Arcsine, радиандағы мәнді қайтарады</td>
        </tr>
        <tr>
            <td><code>acos(x)</code></td>
            <td>Арк косинусы, радиандағы мәнді қайтарады</td>
        </tr>
        <tr>
            <td><code>atan(x)</code></td>
            <td>Арктангенс, радиандағы мәнді қайтарады</td>
        </tr>
        <tr>
            <td><code>atan2(y, x)</code></td>
            <td>Координаталары (х, у) нүктенің полярлық бұрышы (радианмен).</td>
        </tr>
        <tr>
            <td><code>degrees(x)</code></td>
            <td>Радианмен көрсетілген бұрышты градусқа түрлендіреді.</td>
        </tr>
        <tr>
            <td><code>radians(x)</code></td>
            <td>Градуспен көрсетілген бұрышты радианға түрлендіреді.</td>
        </tr>
        <tr>
            <td><code>pi</code></td>
            <td>Константа π = 3,1415...</td>
        </tr>
    </table>
{% endblock %}

{% block trinket_url1 %}
    <iframe src="https://trinket.io/embed/python/e89497308d" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe src="https://trinket.io/embed/python/1ffb7d14eb" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe src="https://trinket.io/embed/python/f83b9b701d" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe src="https://trinket.io/embed/python/af4a033250" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}
