{% extends 'lecture/lecture.html' %}

{% block title %}
    for циклі
{% endblock %}

{% block header %}
    <h1>for циклі</h1>
{% endblock %}

{% block lecture_nav_4 %}
    <a href="#h1"><li>1. for циклі</li></a>
    <a href="#h2"><li>2. range функциясы</li></a>
    <a href="#h3"><li>3. print() функциясын басқару</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1.	for циклі</h1>
    <p>Параметрлік цикл деп те аталатын <code>for</code> циклі Python тілінде функционалдылыққа бай. <code>for</code> циклі айнымалыны және айнымалы цикл өтетін мәндер жиынын көрсетеді. Мәндер жиынын тізім, кортеж, жол немесе сандар аралығы-диапазон арқылы көрсетуге болады.</p>
    <p>Міне, циклды пайдаланудың қарапайым мысалы, мұнда кортеж мәндер жиыны ретінде пайдаланылады:</p>
{% endblock %}

{% block text_content2 %}
    <p>Бұл мысалда <code>color</code> айнымалысы <code>«red»</code>, <code>«orange»</code> және т.б. мәндерін ретімен қабылдайды. Циклдің негізгі бөлігінде түс атауын, яғни <code>color</code> айнымалысының мәнін, сондай-ақ цикл итерациясының нөмірін, алдымен 1-ге тең, содан кейін бірге көбейтетін санды қамтитын хабарлама көрсетіледі. (циклдің әрбір өтуімен <code>i += 1</code> нұсқауымен.</p>
    <p><code>i += 1</code> нұсқауы <code>i = i + 1</code> конструкциясына баламалы (бұл жай ғана стенографиялық белгі). Бұл стенографиялық белгілерді барлық арифметикалық амалдар үшін қолдануға болады: <code>*=</code>, <code>-=</code>, <code>/=</code>, <code>%=</code>...</p>
    <p>Мәндер тізімі әртүрлі түрдегі өрнектерді қамтуы мүмкін, мысалы:</p>
{% endblock %}

{% block text_content3 %}
    <p>Циклдің алғашқы үш итерациясында <code>i</code> айнымалысы <code>int</code> түріндегі мәнді қабылдайды, келесі үш кезеңде ол <code>str</code> түріндегі мәнді қабылдайды.</p>
{% endblock %}

{% block text_content4 %}
    <h1 id="h2">2.	range функциясы</h1>
    <p>Әдетте, <code>for</code> циклдері әрекеттер тізбегін белгілі бір рет қайталау үшін немесе циклдегі айнымалының мәнін кейбір бастапқы мәннен соңғы мәнге өзгерту үшін пайдаланылады.</p>
    <p>Циклды белгілі бір <code>n</code> рет қайталау үшін, <code>range</code> функциясымен бірге <code>for</code> циклін пайдалануға болады:</p>
{% endblock %}

{% block text_content5 %}
    <p><code>n</code> сандық тұрақты, айнымалы немесе ерікті арифметикалық өрнек болуы мүмкін (мысалы, <code>2 ** 10</code>). Егер <code>n</code> мәні нөл немесе теріс болса, онда цикл денесі бір рет болса да орындалмайды.</p>
    <p><code>range</code> функциясы бір ғана емес, екі параметрді қабылдай алады. <code>range(a, b)</code> индекс айнымалысы <code>a</code>-дан <code>b - 1</code>-ге дейінгі мәндерді қабылдайтынын білдіреді, яғни екі параметрмен шақырылатын <code>range</code> функциясының бірінші параметрі индекстік айнымалының бастапқы мәнін көрсетеді, ал екінші параметр индекс айнымалысының соңғы мәнін көрсетеді, <b>бірақ соңғы мәні орындалмайды</b>. Егер <code>a</code>≥<code>b</code> болса, онда цикл бір рет болса да орындалмайды. Мысалы, 1-ден n-ге дейінгі сандардың мәндерін қосу үшін келесі бағдарламаны пайдалануға болады:</p>
{% endblock %}

{% block text_content6 %}
    <p>Бұл мысалда <code>i</code> айнымалысы 1, 2, ..., <code>n</code> мәндерін қабылдайды және <code>sum</code> айнымалысының мәні сол мәндер бойынша дәйекті түрде қосылып(артып) отырады.</p>
    <p>Соңында, индекстің айнымалы мәнін азайтатын циклды жасау үшін үш параметрі бар <code>range</code> функциясын пайдалану керек. Бірінші параметр индекстік айнымалының бастапқы мәнін, екінші параметр индекстік айнымалының соңғы мәнін (оны қоспайды!) және үшінші параметр индекс айнымалысының өзгеріс мөлшерін (қадамды) анықтайды. Мысалы,  <code>range(1, 100, 2)</code> функциясын пайдаланып 1-ден 99-ға дейінгі барлық тақ сандарды айналдыра аласыз және  <code>range(100, 0, -1)</code> пайдаланып 100-ден 1-ге дейінгі барлық сандарды кему ретімен айналдыра аласыз.</p>
    <p><code>for i in range(a, b, d)</code> циклі,  <code>d > 0</code>,  <code>i = a</code>, <code>i = a + d</code>, <code>i = a + 2 * d</code> және т.б. айнымалы индекстің мәндерін орнатады. <code>i < b</code> болатын барлық мәндер үшін. Егер <code>d < 0</code> болса, онда цикл айнымалысы барлық <code>i > b</code> мәндерін қабылдайды.</p>
{% endblock %}

{% block text_content7 %}
    <h1 id="h3">3.	print() функциясын басқару</h1>
    <p>Әдепкі бойынша <code>print()</code> функциясы бірнеше аргументтерді қабылдайды, оларды бос орынмен бөліп басып шығарады, содан кейін жаңа жолды кірістіреді. Бұл әрекетті <code>sep</code>(бөлгіш) және <code>end</code>(аяқтау) аталған параметрлерді пайдалану арқылы өзгертуге болады.</p>
{% endblock %}

{% block trinket_url1 %}
    <iframe src="https://trinket.io/embed/python/2832977116" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe src="https://trinket.io/embed/python/ddcf4b9a86" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe src="https://trinket.io/embed/python/d6c2f02986" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe src="https://trinket.io/embed/python/dd37f67422" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url7 %}
    <iframe src="https://trinket.io/embed/python/64408d4b44" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}
