{% extends 'lecture/lecture.html' %}

{% block title %}
    Жолдар(Мәтіндік тип)
{% endblock %}

{% block header %}
    <h1>Жолдар(Мәтіндік тип)</h1>
{% endblock %}

{% block lecture_nav_5 %}
    <a href="#h1"><li>1. Жолдар(Мәтіндік тип)</li></a>
    <a href="#h2"><li>2. Кесінділер</li></a>
    <a href="#h3"><li>3. Методтар(Әдістер)</li></a>
    <a href="#h4"><li>3.1. find және rfind методтары(әдістері)</li></a>
    <a href="#h5"><li>3.2. replace(ауыстыру) методы</li></a>
    <a href="#h6"><li>3.3. count(санау) методы</li></a>
{% endblock %}

{% block text_content1 %}
    <h1 id="h1">1. Жолдар(Мәтіндік тип)</h1>
    <p>Жол стандартты енгізу <code>input()</code> функциясы арқылы оқылады. Еске салайық, екі жол үшін қосу (конкатенация) операциясы анықталған, және жолды санға көбейту операциясы да анықталған.</p>
    <p>Жол символдар тізбегінен тұрады. <code>len()</code> функциясының көмегімен таңбалар санын (жол ұзындығы) білуге болады.</p>
    <p>Python тіліндегі кез келген басқа нысанды оған сәйкес келетін жолға аударуға болады. Ол үшін жолға түрлендірілетін нысанды параметр ретінде бере отырып, <code>str()</code> функциясын шақыру керек.</p>
    <p>Жолды санға түрлендіру <code>int()</code> функциясы арқылы жүзеге асырылады, бірақ тек қана мүмкіндік болса ғана!</p>
{% endblock %}

{% block text_content2 %}
    <h1 id="h2">2. Кесінділер</h1>
    <p>Python тілінде мәтіндер бір тырнақшамен немесе қос тырнақшамен қоршалады. мысалы «salem» сөзін былайша жазуға болады: “salem” немесе ‘salem’. Мәтіндер әдетте символдар тізбегі ретінде қарастырылады. Яғни “salem” сөзі бес символдан тұрады. Бірінші символ — s, екінші символ — a, үшінші символ — l, төртінші символ — e және бесінші символ — m. Әр символға қол жеткізу үшін мәтіндік айнымалының атын, кейін тік жақшаның ішіне символдың реттік нөмірін жазу керек. Реттік нөмір - индекс деп аталады. Бағдарламалауда индекс нөлден басталады. Сол себепті бірінші символ индексі — 0, екінші символ индексі — 1, үшінші символ индексі — 2, төртінші символ индексі — 3, және бесінші символ индексі — 4.</p>
    <p>Slice – берілген жолдан бір таңбаны немесе ішкі жолдың немесе қосалқы қатардың кейбір фрагментін шығару.</p>
    <p>Кесулердің үш пішіні бар. Кесіндінің ең қарапайым түрі: жолдың бір таңбасын алу, атап айтқанда <code>S[i]</code> - <code>i</code> нөмірленген бір таңбадан тұратын кесінді. Бұл жағдайда нөмірлеу 0 санынан басталады деп есептеледі. Яғни, егер <code>S = 'Hello'</code> болса, онда <code>S[0] == 'H'</code>, <code>S[1] == 'e'</code>, <code>S [2] == 'l'</code>, <code>S[3] == 'l'</code>, <code>S[4] == 'o'</code>.</p>
    <p>Python-да жол таңбалары үшін бөлек түрі жоқ екенін ескеріңіз. <code>S[i]</code> кесіндісінің нәтижесінде алынған әрбір нысан да str типті жол болып табылады.</p>
    <p>Жолдағы символдардың реттік саны (сонымен қатар басқа деректер құрылымдарындағы: тізімдер, кортеждер) индекс деп аталады.</p>
    <p>Теріс индекс мәнін көрсетсеңіз, сан <code>-1</code> санынан бастап соңынан есептеледі. Яғни, <code>S[-1] == 'o'</code>, <code>S[-2] == 'l'</code>, <code>S[-3] == 'l'</code>, <code>S[-4] == 'e'</code>, <code>S [-5 ] == 'H'</code>.
        Немесе кесте түрінде:</p>
    <table>
        <tr>
            <th>S жолы</th>
            <th>H</th>
            <th>e</th>
            <th>l</th>
            <th>l</th>
            <th>o</th>
        </tr>
        <tr>
            <td>Индекс</td>
            <td>S[0]</td>
            <td>S[1]</td>
            <td>S[2]</td>
            <td>S[3]</td>
            <td>S[4]</td>
        </tr>
        <tr>
            <td>Индекс</td>
            <td>S[-5]</td>
            <td>S[-4]</td>
            <td>S[-3]</td>
            <td>S[-2]</td>
            <td>S[-1]</td>
        </tr>
    </table>
    <p>Егер <code>S</code> жолының кесіндісіндегі таңбаның саны <code>len(S)</code> мәнінен үлкен немесе оған тең немесе <code>-len(S)</code> мәнінен кіші болса, онда осы жол таңбасына қатынасу кезінде <code>IndexError: string index out of range</code> қате пайда болады.</p>
    <p>Екі параметрі бар кесінді: <code>S[a:b]</code> <code>a</code> индексіндегі таңбадан басталатын <code>b</code> индексіндегі таңбаға дейін, бірақ соңы ретінде көрсетілген символ қосылмайды. Мысалы, <code>S[1:4] == 'ell'</code>, <code>S[-4:-1]</code> деп жазсаңыз, дәл солай болады. Бір кесіндіде оң және теріс индекстерді де пайдалануға болады, мысалы, <code>S[1:-1]</code> – бірінші және соңғы таңбасыз жол (кесінді 1-декстегі таңбадан басталып, -1 индексінде емес оның ішінде).</p>
    <p>Бұл кесу пішімін пайдаланған кезде <code>IndexError</code> ешқашан пайда болмайды. Мысалы, <code>S[1:5]</code> кесіндісі <code>'ello'</code> жолын қайтарады, егер сіз екінші индексті өте үлкен етіп жасасаңыз, нәтиже бірдей болады, мысалы, <code>S[1:100]</code> (егер жолда 100 таңбадан артық болмаса).</p>
    <p>Екінші параметрді өткізіп жіберсеңіз (бірақ қос нүкте қойсаңыз), онда кесінді жолдың соңына дейін алынады. Мысалы, жолдан бірінші таңбаны жою үшін (оның индексі 0) <code>S[1:]</code> кесіндісін алуға болады. Сол сияқты, бірінші параметрді өткізіп жіберсеңіз, жолдың басынан бір бөлікті алуға болады. Яғни, <code>S[:-1]</code> кесіндісінің көмегімен жолдан соңғы таңбаны жоюға болады. <code>S[:]</code> тілігі <code>S</code> жолының өзіне сәйкес келеді.</p>
    <p>Жолдағы кез келген кесу операциясы жаңа жолдарды жасайды және ешқашан бастапқы жолды өзгертпейді. Python-да жолдар әдетте өзгермейді және оларды өзгерту мүмкін емес. Ескі айнымалыға жаңа жолды меншіктей аласыз.</p>
    <p><code>S[a:b:d]</code> үш параметрі бар кесінді көрсетсеңіз, онда үшінші параметр <code>range()</code> функциясындағыдай қадамды анықтайды, яғни <code>a</code>, <code>a + d</code>, <code>a + 2 * d</code> және т.б. қабылданады Егер үшінші параметрдің мәнін 2-ге орнатсаңыз, әрбір екінші таңба кесіндіге қосылады, ал кесіндінің мәнін <code>-1</code> мәніне орнатсаңыз, онда таңбалар керісінше жүреді.</p>
    <p>Мысалы, <code>S[::-1]</code> тілімімен жолды кері айналдыруға болады.</p>
{% endblock %}

{% block text_content3 %}
    <p>Кесіндінің үшінші параметрі range() функциясының үшінші параметріне қаншалықты ұқсас екеніне назар аударыңыз:</p>
    <pre style="color: red">
    s = 'abcdefghijklm'
    print(s[0:10:2])
    for i in range(0, 10, 2):
        print(i, s[i])
    </pre>

    <h1 id="h3">3. Методтар(Әдістер)</h1>
    <p>Метод - бұл объектіге қолданылатын функция, бұл жағдайда жол. Метод <code>объект.әдіс(параметрлер)</code> түрінде шақырылады. Мысалы, <code>S.find("e")</code> - <code>"e"</code> бір параметрі бар <code>S</code> жолына <code>find</code> әдісінің қолданылуы.</p>
{% endblock %}

{% block text_content4 %}
    <h1 id="h4">3.1. find және rfind методтары(әдістері).</h1>
    <p><code>find</code> методы берілген жолда берілген ішкі жолды (параметр ретінде жіберілетін) табады. Функция ізделетін ішкі жолдың бірінші пайда болуының индексін қайтарады. Ішкі жол табылмаса, метод -1 мәнін қайтарады.</p>
{% endblock %}

{% block text_content5 %}
    <p>Сол сияқты, <code>rfind</code> методы берілген жолдың соңғы пайда болуының индексін қайтарады («іздеу оң жақ»).</p>
{% endblock %}

{% block text_content6 %}
    <p>Егер сіз <code>S.find(T, a, b)</code> үш параметрі бар табу методын шақырсаңыз, онда іздеу <code>S[a:b]</code> кесіндісінде орындалады. <code>S.find(T, a)</code> екі параметрін ғана көрсетсеңіз, онда іздеу <code>S[a:]</code> кесіндісінде, яғни <code>a</code> индексі бар символдан бастап жолдың соңына дейін жүргізіледі. <code>S.find(T, a, b)</code> әдісі кесіндіге қатысты индексті емес, <code>S</code> жолындағы индексті қайтарады.</p>
{% endblock %}

{% block text_content7 %}
    <h1 id="h5">3.2. replace(ауыстыру) методы</h1>
    <p><code>replace(ауыстыру)</code> методы бір жолдың таңдалған символының барлығын біз белгілеген символмен ауыстырады. Формат: <code>S.replace(old, new, count)</code> — <code>old</code> ішкі жолдың барлық қайталануларын <code>S</code> жолындағы <code>new</code> ішкі жолымен ауыстырыңыз. Мысалы:</p>
{% endblock %}

{% block text_content8 %}
    <p>Егер <code>replace(ауыстыру)</code> методына тағы бір параметр берілсе: <code>S.replace(old, new, count)</code>, онда барлық символдар ауыстырылмайды, арнайы көрсеткен санға сәйкес алғашқылары ғана ауыстырылады.</p>
{% endblock %}

{% block text_content9 %}
    <h1 id="h6">3.3. count(санау) методы</h1>
    <p>Бір жолдың ішіндегі біз таңдаған символдың қайталану санын, қанша рет кездескенін санайды. <code>S.count(T)</code> шақыруының ең қарапайым түрі <code>S</code> жолындағы <code>T</code> жолының қайталануларының санын қайтарады.</p>
{% endblock %}

{% block text_content10 %}
    <p><code>S.count(T, a, b)</code> үш параметрін көрсетсеңіз, <code>S[a:b]</code> кесіндісіндегі <code>T</code> жолының қайталану саны есептеледі.</p>
{% endblock %}

{% block trinket_url1 %}
    <iframe src="https://trinket.io/embed/python/478c617e13" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe src="https://trinket.io/embed/python/f0a186e745" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe src="https://trinket.io/embed/python/ee1e502276" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url5 %}
    <iframe src="https://trinket.io/embed/python/a6cf86e27b" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url7 %}
    <iframe src="https://trinket.io/embed/python/f0dbe8b985" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url8 %}
    <iframe src="https://trinket.io/embed/python/9af31e65e5" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}

{% block trinket_url9 %}
    <iframe src="https://trinket.io/embed/python/78cba20c0c" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}
