{% extends 'lecture/lecture.html' %}

{% block title %}
    Жиындар
{% endblock %}

{% block header %}
    <h1>Жиындар</h1>
{% endblock %}

{% block text_content1 %}
    <p>Python тіліндегі жиын – математикадағы жиындарға баламалы деректер құрылымы. Жиын әртүрлі элементтерден тұруы мүмкін жиындағы элементтердің реті белгісіз; Жиынға элементтерді қосуға және жоюға болады, жиынның элементтері арқылы қайталауға болады, жиындармен операцияларды орындауға болады (біріктіру, қиылысу, айырмашылық). Элементтің жиынға жататынын тексеруге болады.</p>
    <p>Элементтер дәйекті тізім түрінде сақталатын массивтерден айырмашылығы, жиындарда элементтерді сақтау реті анықталмаған (сонымен қатар жиынның элементтері тізімдегідей қатарда сақталмайды, бірақ ақылды алгоритмдер қолданылады). Бұл жиынның барлық элементтерін жай ғана айналдырудан гөрі, «элементтің жиынға жататынын тексеру» сияқты операцияларды жылдам орындауға мүмкіндік береді.</p>
    <p>Жиынның элементтері кез келген өзгермейтін деректер түрі болуы мүмкін: сандар, жолдар, кортеждер. Өзгермелі деректер түрлері жиынның элементтері бола алмайды, атап айтқанда тізім (бірақ кортежді жасай аласыз) немесе жиын. Жиын элементтерінің өзгермейтіндігіне қойылатын талап жиынды компьютер жадында бейнелеу ерекшеліктерімен қойылады.</p>
    <h1>Жиындарды анықтау</h1>
    <p>Жиын оның барлық элементтерін бұйра жақшаға енгізу арқылы анықталады. Ерекшелік бос жиын болып табылады, оны <code>set()</code> функциясы арқылы жасауға болады. Егер <code>set</code> - жиын функциясына: тізім, жол немесе кортеж параметр ретінде берілсе, ол тізімнің, жолдың немесе кортеждің элементтерінен тұратын жиынды қайтарады. Мысалы:</p>
{% endblock %}

{% block text_content2 %}
    <p>Әрбір элемент жиында тек бір рет көрінуі мүмкін, элементтердің реті маңызды емес; Мысалы, бағдарлама:</p>
{% endblock %}

{% block text_content3 %}
    <p><code>True</code> шығарады, өйткені <code>A</code> және <code>B</code> тең жиындар.</p>
    <p>Әрбір элемент жиынтықта тек бір рет пайда болуы мүмкін. <code>set('Hello')</code> төрт элементтен тұратын жиынды қайтарады: <code>{'H', 'e', 'l', 'o'}</code>.</p>
    <h1>Жиын элементтерімен жұмыс</h1>
    <p>Жиынның элементтерінің санын <code>len</code> функциясы арқылы білуге болады.</p>
    <p><code>for</code> циклін пайдаланып, жиынның барлық элементтерін (белгісіз ретпен!) қайталауға болады:</p>
{% endblock %}

{% block text_content4 %}
    <p><code>bool</code> түрінің мәнін қайтаратын <code>in</code> әрекетін пайдаланып элементтің жиынға жататынын тексеруге болады. Балама ретінде қарама-қарсы <code>not in</code> операциясы да бар. Жиынға элемент қосу үшін <code>add</code> методын қолданамыз:</p>
{% endblock %}

{% block text_content5 %}
    <p>Жиыннан <code>x</code> элементін жоюдың екі әдісі бар: <code>discard</code> және <code>remove</code>. Олардың әрекеті жойылатын элемент жинақта болмаған кезде ғана ерекшеленеді. Бұл жағдайда <code>discard</code> методы ештеңе жасамайды және <code>remove</code> әдісі <code>KeyError</code> ерекшелігін шығарады.</p>
    <p>Соңында, <code>pop</code> әдісі жиыннан бір кездейсоқ элементті алып тастап, оның мәнін қайтарады. Жиын бос болса, <code>KeyError</code> ерекше жағдайы шығарылады.</p>
    <p><code>list</code> функциясын пайдаланып жиыннан тізім жасауға болады.</p>
    <h1>Жинақты операциялар</h1>
    <p>Python-дағы жиындар арқылы жиындарда әдеттегі математикалық операцияларды орындауға болады.</p>
    <table>
        <tr>
            <td style="font-weight: bold">A | B <br>A.union(B)</td>
            <td><code>А</code> және <code>В</code> жиындарының бірігуі болып табылатын жиынды қайтарады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A |= B <br> A.update(B)</td>
            <td><code>B</code> жиынынан <code>А</code> жиынына барлық элементтерді қосады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A & B <br>A.intersection(B)</td>
            <td><code>A</code> және <code>B</code> жиындарының қиылысы болып табылатын жиынды қайтарады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A &= B <br> A.intersection_update(B)</td>
            <td><code>А</code> жиынында <code>В</code> жиынындағы элементтерді ғана қалдырады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A - B <br> A.difference(B)</td>
            <td><code>A</code> және <code>B</code> жиындары арасындағы айырмашылықты қайтарады (<code>А</code>-ға енгізілген элементтер, бірақ <code>В</code>-ға кірмейді).</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A -= B <br> A.difference_update(B)</td>
            <td><code>В</code> жиынына кіретін барлық элементтерді <code>A</code> жиынынан жояды.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A ^ B <br> A.symmetric_difference(B)</td>
            <td><code>A</code> және <code>B</code> жиындарының симметриялық айырмашылығын береді (<code>А</code> немесе <code>В</code> элементтерінде, бірақ екеуі де емес).</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A ^= B <br> A.symmetric_difference_update(B)</td>
            <td><code>А</code> және <code>В</code> жиындарының симметриялық айырмасын <code>А</code>-да жазады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A <= B <br> A.issubset(B)</td>
            <td>Егер <code>A</code> <code>B</code> жиыны болса, шын мәнін қайтарады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A >= B <br> A.issuperset(B)</td>
            <td>Егер <code>B</code> <code>A</code> жиыны болса, шын мәнін қайтарады.</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A < B</td>
            <td><code>A <= B және A != B</code> тең</td>
        </tr>
        <tr>
            <td style="font-weight: bold">A > B</td>
            <td><code>A >= B және A != B</code> тең</td>
        </tr>
    </table>
{% endblock %}

{% block trinket_url1 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjx4fcu?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url2 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjx7q2h?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url3 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjx8gpg?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}

{% block trinket_url4 %}
    <iframe height="450px" src="https://onecompiler.com/embed/python/42hjx9wrg?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>
{% endblock %}
