{% extends 'lecture/task.html' %}

{% load static %}

{% block title %}
{% endblock %}

{% block text_content1 %}
    Python 3 — это современный язык, на котором просто и приятно писать программы.

    Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что хотим вывести. Вот программа, которая делает несколько вычислений:
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est et, eveniet expedita hic neque nobis provident quaerat quam quis, repellat sed vel voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis, dolor et incidunt libero perspiciatis saepe sapiente tempore. At aut culpa deserunt excepturi fugiat ipsum iure, maxime modi molestias nostrum odit officia officiis omnis placeat provident quasi quis quod recusandae sit, vitae? Aliquam, numquam voluptatem?
{% endblock %}

{% block trinket_url1 %}
    <div style="overflow: hidden; width: 100%; height: 356px;">
        <iframe src="https://trinket.io/embed/python/9c47ec0dff" id="trinket" width="100%" height="356" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
    </div>
{% endblock %}

{% block video1 %}
    <video id="player" controls>
      <source src="{% static 'lecture/sabaqq.MP4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}

{% block text_content2 %}
    Python 3 — это современный язык, на котором просто и приятно писать программы. Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что хотим вывести. Вот программа, которая делает несколько вычислений:
{% endblock %}
{% block video2 %}
    <video id="player" controls>
      <source src="{% static 'lecture/sabaqq.MP4' %}" class="video-link" type="video/mp4" />
    </video>
{% endblock %}
{% block text_content3 %}
    Python 3 — это современный язык, на котором просто и приятно писать программы. Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что хотим вывести. Вот программа, которая делает несколько вычислений:
{% endblock %}
{% block trinket_url3 %}
    <div style="overflow: hidden; width: 100%; height: 356px;">
        <iframe src="https://trinket.io/embed/python/ad0e32fa19?runOption=run&showInstructions=true" id='trinket' allowtransparency="true" scrolling="no" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
    </div>
{#    <script src="{% static 'lecture/task1-1.js' %}"></script>#}
{% endblock %}
{% block text_content5 %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, delectus eligendi inventore libero maxime molestias neque nulla quod reiciendis. Consectetur excepturi, iusto quam qui sed sint soluta temporibus. Ad, aliquam dolore exercitationem id inventore iure maxime, minima necessitatibus nulla praesentium, quasi repellendus sapiente! Excepturi itaque nesciunt non, quos repellat velit.
{% endblock %}