{% extends "main/index.html" %}
{% load static %}

{% block title %}
    {{ lecture.lecture }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "lecture/task.css" %}">
{% endblock %}

{% block profile %}
    {% if user.is_authenticated %}
{#        <h5>{{ user.username }}</h5>#}
        <form method="post">
{#            <button type="button" class="btn btn-outline-primary"><a href="{% url 'logout' %}">logout</a></button>#}
        </form>
    {% else %}
        <a href="#" id="myBtn"><li>Кіру/Тіркелу</li></a>
    {% endif %}
{% endblock %}

{% block content %}
<section class="container">
    <div class="section__left">
        <ol>
            <a href="#"><li>ЕНГІЗУ - ШЫҒАРУ</li></a>
            <a href="#"><li>Бүтін сандар</li></a>
            <a href="#"><li>Бөлшек сандар</li></a>
            <a href="#"><li>Қатарлар ( мәтіндік тип )</li></a>
            <a href="#"><li>Массивтер (Тізімдер)</li></a>
            <a href="#"><li>Кортеждер</li></a>
            <a href="#"><li>Сөздіктер</li></a>
            <a href="#"><li>Жиындар</li></a>
            <a href="#"><li>Шартты операторлар</li></a>
            <a href="#"><li>Цикл for</li></a>
            <a href="#"><li>Цикл while</li></a>
            <a href="#"><li>Функциялар</li></a>
        </ol>
    </div>
    <div class="section__right">
        {% block main_content %}
        {% endblock %}
        <div class="con__left">
            {% block text_content %}{% endblock %}
            <iframe src="{% block trinket_url %}{% endblock %}" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0"></iframe>
        </div>
        <div class="con__right">
            {% block video %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}