{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>2)	«Синонимдер сөздігі» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Сізге жұп сөздерден тұратын сөздік беріледі. Әрбір сөз оның жұптас сөзінің синонимі болып табылады. Сөздіктегі барлық сөздер әртүрлі.
Сөздіктің соңғы жолында жазылған сөздің синонимін анықтаңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}