{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>7)	«Елдер мен қалалар» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Әр елдегі елдер мен қалалардың тізімі берілген. Содан кейін қалалардың аттары беріледі. Әр қала үшін қай елде орналасқанын көрсетіңіз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}