{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>12)	Тапсырма «Шежіре: ата-бабалар мен ұрпақ»</h1>
    <p>Шарт:</p>
    <p>Ағашта екі элемент берілген. Олардың біреуі екіншісінің ұрпағы екенін анықтаңыз.
Енгізу деректері алдыңғы тапсырмадағыдай пішімдегі ағашты қамтиды. Келесі K сұраулар саны. Келесі K жолының әрқайсысы ағаштың екі элементінің атын қамтиды.
Әрбір осындай сұрау үшін үш санның бірін басып шығарыңыз: бірінші элемент екіншісінің атасы болса 1, екіншісі біріншінің атасы болса 2 немесе олардың ешқайсысы екіншісінің атасы болмаса 0.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}