{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>9) Екпіндерді тексеру</h1>
    <p>Шарт:</p>
    <p>Мұғалім Петяға үй тапсырмасын берді - берілген мәтіндегі сөздерге екпін қою, содан кейін ол Васяға осы үй тапсырмасын тексеруді тапсырды. Вася бұл тақырыпқа өте жаңа, сондықтан ол сөздердің екпінін көрсететін сөздік тапты. Өкінішке орай, бұл сөздікке барлық сөздер кірмейді. Вася сөздікте жоқ сөздерде Петя екпінді дұрыс қойған деп есептейді деп шешті, егер бұл сөзде Петя дәл бір екпін қойған болса.
Кейбір сөздерді екпіннің бірнеше тәсілдермен қоюға болатыны белгілі болды. Вася бұл жағдайда Петяның екпінді қою тәсілі сөздікте берілген нұсқалардың біріне сәйкес келсе, оны екпінді дұрыс орналастыру, ал сәйкес келмесе, қате деп санайды деп шешті.
Сізге Вася қолданған сөздік пен Петя тапсырған үй тапсырмасы беріледі. Сіздің міндетіңіз - бұл тапсырмада Вася есептейтін қателер санын анықтау.
Алдымен N санын енгізіңіз - сөздіктегі сөздердің санын.

Келесі сөздіктегі сөздері бар N жол. Әрбір сөз 30 таңбадан аспайды. Барлық сөздер кіші және бас латын әріптерінен тұрады. Әрбір сөзде дәл бір бас әріп бар - екпін түсетіні. Сөздіктегі сөздер алфавиттік тәртіппен орналастырылған. Егер бір сөзге екпін қоюдың бірнеше мүмкіндігі болса, онда бұл опциялар сөздікте кездейсоқ ретпен көрсетіледі.
Келесі кезекте Петя орындайтын жаттығу. Жаттығу – жалпы көлемі 300 000 таңбадан аспайтын мәтін жолы. Жол дәл бір бос орынмен бөлінген сөздерден тұрады. Әр сөздің ұзындығы 30 таңбадан аспайды. Барлық сөздер кіші және бас латын әріптерінен тұрады (бас әріптер Петя баса назар аударған әріптерді көрсетеді). Петя қателесіп бір сөзге бірнеше екпін қоюы немесе ешбір екпін қоймауы мүмкін.
Петя мәтініндегі Вася табатын қателердің санын басып шығарыңыз.
Үлгі сынақтары туралы ескертпелер
1. Сөздікке сәйкес мүмкін емес сөзінде екпінді орналастырудың екі мүмкін нұсқасы бар. Сөздіктегі бұл опцияларды кез келген ретпен келтіруге болады (яғни, алдымен мүмкін емес, содан кейін мүмкін емес және керісінше). Петя жіберген екі қате: be (екпін мүлде қойылмаған) және fouNd (екпін дұрыс қойылмаған) сөздері. thE сөзі сөздікте жоқ, бірақ Петя оған бір екпін қойғандықтан, ол дұрыс деп саналады.
2. The сөзінен басқа сөздердің барлығында екпіндер қате қойылған (ол сөздікте жоқ; оның дәл бір екпіні бар). Басқаша айтқанда, не барлық әріптерге екпін түсіріледі (PAGE сөзінде), не мүлде екпін қойылмайды.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}