{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>10)	«Сату» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Белгілі бір интернет-дүкеннің сатылымының деректер базасы берілген. Кіріс файлының әрбір жолы Сатып алушы өнім саны түрінің жазбасы болып табылады, мұнда Сатып алушы - сатып алушының аты (бос орынсыз жол), өнім - өнімнің атауы (бос орынсыз жол), саны - сатып алынған бірліктердің саны өнімнің.
Барлық тұтынушылардың тізімін жасаңыз және әрбір тұтынушы үшін ол сатып алған өнімнің әрбір түрінің бірлік санын есептеңіз. Тұтынушылар тізімі, сондай-ақ әрбір тұтынушыға арналған тауарлар тізімі лексикографиялық тәртіпте көрсетілуі керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}