{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>6)	«Жиілікті талдау» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Мәтін берілген: бірінші жолда мәтіндегі жолдар саны, содан кейін жолдардың өзі болады. Мәтінде кездесетін барлық сөздерді әр жолға бір-бірден басып шығарыңыз. Сөздерді мәтіндегі кездесу санының кему реті бойынша, ал кездесу жиілігі бірдей болса, лексикографиялық ретпен сұрыптау керек.
Ескерту: Барлық сөздердің сөздігін жасағаннан кейін оны сөздің пайда болу жиілігі бойынша сұрыптағыңыз келеді. Қажетті нәрсеге элементтері екі элементтің кортеждері болатын тізімді жасау арқылы қол жеткізуге болады: сөздің және сөздің пайда болу жиілігі. Мысалы, [(2, 'hi'), (1, 'what'), (3, 'is')]. Содан кейін стандартты сұрыптау кортеждер тізімін бірінші элемент бойынша, ал егер олар тең болса, екіншісі бойынша салыстыру арқылы сұрыптайды. Бұл мәселеде талап етілетін нәрсе дерлік.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}