{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>5)	«Қатынас құқығы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Вирус бір суперкомпьютердің файлдық жүйесіне еніп, файлдарға кіру құқығын бақылауды бұзды. Әрбір файл үшін қандай әрекеттерді орындауға болатыны белгілі:
W рекорды,
R оқу,
X іске қосыңыз.
Бірінші жолда N саны бар - осы файлдық жүйедегі файлдар саны. Келесі N жолда файлдардың аттары және олармен рұқсат етілген операциялар бос орындармен бөлінген. Төменде М саны берілген - файлдарға сұраныстар саны. Соңғы M жолдарында Operation File пішінінің сұрауы бар. Бір файлға сұраулардың кез келген санын қолдануға болады.
Файлға қатынасу құқықтарын бақылауды қалпына келтіру керек (файлда жарамды операция орындалса, сіздің бағдарламаңыз әрбір сұрау үшін OK қайтаруы керек немесе операция жарамсыз болса, Access қабылданбайды.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}