{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>8)	«Ағылшынша-латынша сөздік» </h1>
    <p>Шарт:</p>
    <p>Бір күні мектеп оқушысы Вася шатырда ескі кітаптарды сұрыптап жүріп, ағылшынша-латынша сөздік тауып алды. Ол кезде ағылшын тілін жетік меңгерген, оның арманы латын тілін үйрену болатын. Сондықтан қолына түскен сөздік дәл уақытында болды.
Өкінішке орай, тілді толық меңгеру үшін бір ғана сөздік жеткіліксіз: ағылшын-латын тілінен басқа, латын-ағылшынша сөздік қажет. Жақсырақ ештеңе болмағандықтан, ол бірінші сөздіктен екінші сөздік жасауға шешім қабылдады.
Өздеріңіз білетіндей, сөздік аударма сөздерден тұрады, олардың әрқайсысында бірнеше аударма сөздер бар. Сөздіктің кез келген жерінен табылған әрбір латын сөзі үшін Вася оның барлық аудармаларын (яғни біздің латын тіліндегі аудармалар тізімінде пайда болған барлық ағылшын сөздерін) тауып, оларды және сол латын сөзінің аудармаларын ғана қарастыруды ұсынады.
Васяға ағылшын-латын сөзінен латын-ағылшынша сөздік жасау жұмысын аяқтауға көмектесіңіз.
Бірінші жолда N бір бүтін сан бар — сөздіктегі ағылшын сөздерінің саны. Содан кейін N сипаттама келеді. Әрбір сипаттама алдымен ағылшын сөзін, содан кейін бос орындармен бөлінген сызықшаны, содан кейін үтір және бос орындармен бөлінген сол ағылшын сөзінің латын тіліндегі аудармаларын қамтитын жеке жолда қамтылған. Барлық сөздер тек шағын латын әріптерінен тұрады. Аудармалар лексикографиялық ретпен сұрыпталады. Сөздіктегі ағылшын сөздерінің орын тәртібі де лексикографиялық.
Енгізілетін деректер пішімін қатаң сақтай отырып, сәйкес латын-ағылшын сөздігін басып шығарыңыз. Атап айтқанда, лексикографиялық ең аз латын сөзінің аудармасы бірінші, содан кейін осы ретпен екінші болуы керек, т.б. Аудармада ағылшын сөздері де лексикографиялық тұрғыдан сұрыпталуы керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}