{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
    <h1>13)	«Шежіре: LCA» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Отбасы ағашында екі элемент үшін олардың ең төменгі ортақ атасын анықтаңыз. А және В элементтерінің ең кіші ортақ арғы атасы С элементі болып табылады, сондықтан С - А-ның арғы атасы, С - В-ның арғы атасы, ал С тереңдігі мүмкін болатын ең үлкен. Бұл жағдайда элемент өзінің арғы тегі болып саналады.
Енгізілетін деректер пішімі алдыңғы тапсырмаға ұқсас
Әрбір сұрау үшін берілген элементтердің ең төменгі ортақ атасын басып шығарыңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}