{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>11)	«Шежіре: деңгейлерді санау» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Отбасы ағашында ата-бабадан басқа әрбір адамның дәл бір ата-анасы болады.
Ағаштың әрбір элементі биіктік деп аталатын теріс емес бүтін санмен байланысты. Ата-бабаның биіктігі 0, кез келген басқа элементтің биіктігі оның ата-анасынан 1-ге артық.
Сізге отбасылық ағаш беріледі, оның барлық элементтерінің биіктігін анықтаңыз.

Бағдарлама кіріс ретінде N отбасылық ағаштағы элементтердің санын алады. Әрі қарай ата-бабадан басқа ағаштың әрбір элементі үшін ата-ананы көрсететін N−1 жолдар келеді. Әрбір жол еншілес_аты ата-ана_аты пішімінде болады.
Бағдарлама лексикографиялық тәртіпте ағаштың барлық элементтерінің тізімін шығаруы керек. Әрбір элементтің атын көрсеткеннен кейін оның биіктігін көрсету керек.
Ескерту
Бұл мәселеде O(n) күрделілік шешімі бар, бірақ тек O(n2) күрделілік шешімін жазу керек (сөздік элементтеріне қол жеткізудің күрделілігін есептемегенде).
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}