{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>4)	«Ең жиі кездесетін сөз» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Берілген мәтін: бірінші жолда жолдар санын, одан кейін жолдардың өзін көрсетеді. Осы мәтінде жиі кездесетін сөзді басып шығарыңыз. Егер мұндай сөздер бірнешеу болса, лексикографиялық тәртіпте кішірекін басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}