{% extends 'lecture/lecture.html' %}

{% block task_nav_11 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'dict1' %}"><li>Сөздің пайда болу нөмірі</li></a>
    <a href="{% url 'dict2' %}"><li>Синонимдер сөздігі</li></a>
    <a href="{% url 'dict3' %}"><li>АҚШ сайлауы</li></a>
    <a href="{% url 'dict4' %}"><li>Ең жиі кездесетін сөз</li></a>
    <a href="{% url 'dict5' %}"><li>Қатынас құқығы</li></a>
    <a href="{% url 'dict6' %}"><li>Жиілікті талдау</li></a>
    <a href="{% url 'dict7' %}"><li>Елдер мен қалалар</li></a>
    <a href="{% url 'dict8' %}"><li>Ағылшынша-латын сөздігі</li></a>
    <a href="{% url 'dict9' %}"><li>Күйзелістерді тексеру</li></a>
    <a href="{% url 'dict10' %}"><li>Сату</li></a>
    <a href="{% url 'dict11' %}"><li>Тұқымдық: деңгейлерді санау</li></a>
    <a href="{% url 'dict12' %}"><li>Тұқым: ата-бабалар мен ұрпақ</li></a>
    <a href="{% url 'dict13' %}"><li>Тұқымдық: LCA</li></a>
{% endblock %}