{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>1)	«Сөздің пайда болу нөмірі» мәселесі</h1>
    <p>Шарт:</p>
    <p>Мәтін бір жолға жазылады. Берілген мәтіндегі әрбір сөз үшін оның осы мәтінде қанша рет бұрын кездескенін есептеңіз.
Сөз - қатардағы бос емес таңбалар тізбегі, бір немесе бірнеше бос орындармен немесе жол соңындағы таңбалармен бөлінген сөздер.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}