{% extends 'task/task11/task11.html' %}

{% block text_content1 %}
<h1>3)	«АҚШ сайлауы» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Өздеріңіз білетіндей, АҚШ-та президент тікелей дауыс беру арқылы емес, екі деңгейлі дауыс беру арқылы сайланады. Біріншіден, әрбір штатта сайлау өтіп, сол штаттағы сайлаудың жеңімпазы анықталады. Содан кейін штаттық сайлау өткізіледі: бұл сайлауда әрбір штатта белгілі бір дауыс саны – сол штаттан келген сайлаушылар саны болады. Іс жүзінде штат ішіндегі дауыс беру нәтижелері бойынша штаттан барлық сайлаушылар дауыс береді, яғни сайлаудың соңғы кезеңінде дауыс саны әртүрлі штаттар дауыс беруге қатысады.
Бірінші жол жазбалар санын береді. Әрі қарай әрбір жазбада кандидаттың аты-жөні және штаттардың бірінде оған берілген дауыстар саны көрсетіледі. Сайлау нәтижелерін қорытындылау: әрбір дауыс беруге қатысушы үшін оған берілген дауыстардың санын анықтаңыз. Қатысушылар алфавиттік ретпен көрсетілуі керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}