{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>4)	«Нөмір бұрын көрінді ме?» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Енгізу жолында бос орындармен бөлінген сандар тізбегі бар. Әрбір нөмір үшін, егер бұл нөмір бұрын реттілікте пайда болса, ИӘ (бөлек жолда) сөзін немесе ол болмаса, ЖОҚ сөзін басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}