{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>1)	«Әртүрлі сандар саны» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Сандар тізімі берілген. Онда неше түрлі сан барын анықтаңыз.
Ескерту. Бұл мәселені Python-да бір жолда шешуге болады.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}