{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>5) «Текшелер» мәселесі</h1>
    <p>Шарт:</p>
    <p>Аня мен Боря түрлі-түсті текшелермен ойнағанды жақсы көреді және олардың әрқайсысының өз жиынтығы бар және әр жиынтықта барлық текшелердің түсі әртүрлі. Бір күні балалар екі жиынтықта әр түстің текшелері болатын қанша түс бар екеніне қызығушылық танытты. Ол үшін олар барлық түстерді 0-ден 108-ге дейінгі кездейсоқ сандармен нөмірледі. Осы кезде олардың ынта-ықыласы таусылды, сондықтан сіз оларға қалған жағдайда көмектесуге шақырамыз.
Кіріс деректерінің бірінші жолында N және M сандары бар - Аня мен Бориге арналған текшелер саны. Келесі N жолдарда Аняның текшелерінің түс сандары бар. Соңғы M жолында Бори түстерінің сандары бар.
Үш жиынды табыңыз: екі жиында орналасқан текшелердің түстерінің сандары; тек Аняда болатын текшелердің түс сандары және тек Бориде болатын текшелердің түс сандары. Әрбір жиын үшін алдымен ондағы элементтердің санын, содан кейін өсу ретімен сұрыпталған элементтердің өзін басып шығарыңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}