{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>8)	«Санды тап-2» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Август пен Беатрис ойынды жалғастырды, бірақ тамыз алдай бастады. Беатристің әрбір сұрағы үшін ол мүмкін болатын сандар жиыны мүмкіндігінше үлкен болып қалуы үшін ИӘ немесе ЖОҚ жауап нұсқасын таңдайды. Мысалы, Август 1-ден 5-ке дейінгі санды ойласа, ал Беатрис 1 және 2 сандарын сұраса, Август ЖОҚ деп жауап береді, ал Беатрис 1, 2, 3 туралы сұраса, Август ИӘ деп жауап береді.
Егер Бетрис өз сұрағында жоспарланған сандардың дәл жартысын көрсетсе, онда тамыз, қарамастан, әрқашан ЖОҚ деп жауап береді. Ақырында, жауап беру кезінде тамыз Беатристің барлық алдыңғы сұрақтарын және оларға берген жауаптарын ескереді, яғни ықтимал ойластырылған сандар жиынтығы азаяды.
Бірінші жолда Август болжаған ең үлкен сан бар. Әрбір келесі жолда Беатристің келесі сұрағы бар: бос орындармен бөлінген сандар жиыны. Енгізудің соңғы жолында бір HELP сөзі бар.
Беатристің әрбір сұрағы үшін Августтың осы сұраққа жауабын басып шығарыңыз. Осыдан кейін Беатристің барлық сұрақтарына жауап бергеннен кейін Август болжауға болатын барлық сандарды өсу ретімен бос орынмен бөліп басып шығарыңыз.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}