{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>3)	«Жиындардың қиылысуы» есебі</h1>
    <p>Шарт:</p>
    <p>Сандардың екі тізімі берілген. Бірінші және екінші тізімге енгізілген барлық сандарды тауып, оларды өсу ретімен басып шығарыңыз.
Ескерту. Тіпті бұл мәселені Python-да бір жолда шешуге болады.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}