{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>9)	«Полиглоттар» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Белгілі бір мектеп оқушыларының белгілі бір тобының әрқайсысы белгілі бір тілді біледі. Барлық мектеп оқушылары қанша тіл білетінін және мектеп оқушыларының кем дегенде біреуі қанша тіл білетінін анықтау керек.
Бірінші жолда мектеп оқушыларының саны көрсетіледі. Әр оқушы үшін алдымен оның білетін тілдерінің саны, содан кейін әр жолға бір тілдің аты жазылады.
Бірінші жолда барлық мектеп оқушылары білетін тілдердің санын басып шығарыңыз. Екінші жолдан бастап - осындай тілдердің тізімі. Содан кейін - кем дегенде бір студент білетін тілдердің саны, келесі жолдарда - осындай тілдердің тізімі. Тілдер лексикографиялық тәртіпте, әр жолда бір-бірден көрсетілуі керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}