{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>7)	«Санды тап» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Август пен Беатрис ойын ойнайды. Август 1-ден n-ге дейінгі натурал санды ойлады. Беатрис бұл санды анықтауға тырысады, ол натурал сандар жиынын атайды; Август Беатриске егер оған берілген сандардың ішінде біреу болжанса ИӘ, ал басқаша ЖОҚ деп жауап береді. Бірнеше сұрақ қойғаннан кейін Беатрис қандай сұрақтар қойғанын және қандай жауап алғанын түсінбей қалды және сізден Августтың қандай сандары бар екенін анықтауға көмектесуіңізді сұрайды.
Бірінші жолда n бар - тамыз болжауға болатын ең көп сан. Әрі қарай әрбір жолда Беатристің сұрағы (бос орынмен бөлінген сандар жиыны) және Августтың осы сұраққа жауабы бар.
Сіз Август ойлаған барлық сандарды бос орынмен, өсу ретімен басып шығаруыңыз керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}