{% extends 'lecture/lecture.html' %}

{% block task_nav_10 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'sets1' %}"><li>Әртүрлі сандар саны</li></a>
    <a href="{% url 'sets2' %}"><li>Сәйкес сандар саны</li></a>
    <a href="{% url 'sets3' %}"><li>Жиындардың қиылысуы</li></a>
    <a href="{% url 'sets4' %}"><li>Нөмір бұрын көрінді ме?</li></a>
    <a href="{% url 'sets5' %}"><li>Текшелер</li></a>
    <a href="{% url 'sets6' %}"><li>Мәтіндегі сөздердің саны</li></a>
    <a href="{% url 'sets7' %}"><li>Санды тап</li></a>
    <a href="{% url 'sets8' %}"><li>Санды тап-2</li></a>
    <a href="{% url 'sets9' %}"><li>Полиглоттар</li></a>
    <a href="{% url 'sets10' %}"><li>Ереуілдер</li></a>
{% endblock %}