{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>10)	«Ереуілдер» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Бір елдің саяси өмірі өте қызу. Елде К саяси партиялар бар, олардың әрқайсысы жүйелі түрде ұлттық ереуіл жариялайды. Сенбі немесе жексенбі болмаса (бәрібір ешкім жұмыс істемейтін) партиялардың кем дегенде біреуі ереуілге шыққан күндер ел экономикасына үлкен зиян келтіреді.
i-ші тарап ереуілдерді a_i нөмірінен бастап b_i күн сайын қатаң түрде жариялайды. Яғни, i-ші жақ a_i, a_i + b_i, a_i + 2 * b_i және т.б. күндері ереуілдер жариялайды. Егер кез келген күні бірнеше партия ереуілге шықса, ол бір ұлттық ереуіл болып саналады.
Ел күнтізбесінде бір күннен бастап нөмірленген N күн бар. Жылдың бірінші күні дүйсенбі, жылдың алтыншы және жетінші күндері демалыс, апта жеті күннен тұрады.

Бірінші жолда N және K сандары бар. Содан кейін ереуіл кестелерін сипаттайтын K жолдары келеді. i-ші жолда a_i және b_i сандары бар. Бұл елде бір жыл ішінде болған ереуілдердің санын анықтау керек.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}