{% extends 'task/task10/task10.html' %}

{% block text_content1 %}
<h1>6)	«Мәтіндегі сөздердің саны» тапсырмасы</h1>
    <p>Шарт:</p>
    <p>Берілген мәтін: бірінші жолда жолдар саны, одан кейін жолдардың өзі көрсетіледі. Осы мәтінде неше түрлі сөз барын анықтаңыз.
Сөз - қатардағы бос емес таңбалар тізбегі, бір немесе бірнеше бос орындармен немесе жол соңындағы таңбалармен бөлінген сөздер.
</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}