{% extends 'task/task4/task4.html' %}

{% block text_content1 %}
    <h1>11. «Жоғалған карта» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Үстел ойыны үшін 1-ден N-ге дейінгі сандары бар карталар пайдаланылады. Қалған карталардың сандарын білу арқылы оны табыңыз.</p>
    <p>N саны берілген, содан кейін N − 1 қалған карталардың саны (1-ден N-ге дейінгі әртүрлі сандар). Бағдарлама жоғалған картаның нөмірін көрсетуі керек.</p>
    <p>Ақылдылар үшін: массивтерді және ұқсас деректер құрылымдарын пайдалану мүмкін емес.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
{% endblock %}