{% extends 'lecture/lecture.html' %}

{% block task_nav_4 %}
    <p style="border-radius: 2px; background: rgba(10,9,9,0.22); padding: 5px; margin-bottom: 0">Есептер</p>
    <a href="{% url 'forloop1' %}"><li>1-қатар</li></a>
    <a href="{% url 'forloop2' %}"><li>2-қатар</li></a>
    <a href="{% url 'forloop3' %}"><li>3-қатар</li></a>
    <a href="{% url 'forloop4' %}"><li>Он санның суммасы</li></a>
    <a href="{% url 'forloop5' %}"><li>N санының суммасы</li></a>
    <a href="{% url 'forloop6' %}"><li>Кубтар суммасы</li></a>
    <a href="{% url 'forloop7' %}"><li>Факториал</li></a>
    <a href="{% url 'forloop8' %}"><li>Факториалдар суммасы</li></a>
    <a href="{% url 'forloop9' %}"><li>Нөлдер саны</li></a>
    <a href="{% url 'forloop10' %}"><li>Баспалдақ</li></a>
    <a href="{% url 'forloop11' %}"><li>Жоғалған карта</li></a>
{% endblock %}
