{% extends 'task/task4/task4.html' %}

{% block text_content1 %}
    <h1>2. «2-қатар» тапсырмасы</h1>
    <p>Шарт</p>
    <p>А және В екі бүтін сандар берілген. А < B болса, өсу ретімен немесе басқаша жағдайда кему ретімен А-дан В-ға дейінгі барлық сандарды басып шығарыңыз.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}
