{% extends 'task/task4/task4.html' %}

{% block text_content1 %}
    <h1>8. «Факториалдар суммасы» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Табиғи n берілген</p>
    <p> 1!+2!+3!+...+n қосындысын есептеңіз!</p>
    <p>Бұл мәселені шешу үшін тек бір циклды қолдануға болады. Бұл тапсырмада математикалық кітапхананы пайдалануға тыйым салынады.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}