{% extends 'task/task4/task4.html' %}

{% block text_content1 %}
    <h1>9. «Нөлдер саны» тапсырмасы</h1>
    <p>Шарт</p>
    <p>Берілген N саны: алдымен N санын енгізіңіз, содан кейін дәл N бүтін сандарды енгізіңіз. Енгізілген сандар арасындағы нөлдердің санын есептеп, осы санды басып шығарыңыз. Сізге сандардың санын емес, нөлге тең сандарды санау керек.</p>
    <p>Барлық тапсырмаларда input() арқылы енгізуді оқыңыз және print() арқылы жауапты шығарыңыз.</p>
<iframe height="450px" src="https://onecompiler.com/embed/python/42hnesw22?hideLanguageSelection=true&hideNew=true&hideNewFileOption=true&hideTitle=true" width="100%"></iframe>{% endblock %}